{
  "openapi": "3.0.0",
  "info": {
    "title": "Restormel Keys API",
    "version": "1.6.0",
    "description": "Zuplo Gateway API for Restormel Keys. Consumer keys (zpka_...) authenticate at the edge; inbound policies forward to the dashboard with a backend Gateway key (rk_...). Control-plane CRUD uses /api/* on KEYS_BACKEND_URL. Runtime hot paths (Phase 1+) use /keys/v1/* on KEYS_SITE_ORIGIN (site root, e.g. https://restormel.dev).\n\nRate-limit headers: all endpoints with rate-limit-inbound in their policy stack emit X-RateLimit-Limit, X-RateLimit-Remaining, and X-RateLimit-Reset on every response. Zuplo emits these automatically; no backend change required.\n\nChangelog:\n- 1.6.0 (2026-06-07): [C1] Cursor pagination on GET /connect/v1/ingest/jobs (?limit, ?cursor, next_cursor, total_count). [C2] Idempotency-Key header support on POST /connect/v1/ingest/jobs (24-hour TTL). [C3] X-Request-Id header on all Connect v1, Keys v1, and Graph v1 responses (echoed in error envelopes as request_id). [C4] Rate-limit response headers documented (X-RateLimit-Limit/Remaining/Reset — Zuplo already emits). [C5] GET /graph/v1/snapshots/{snapshotId} now returns 501 not_implemented instead of 404 (Graph snapshots planned for Phase 6). [1A] Connect v1 ingest/retrieve/verify API with workspace-scoped persistence. [1B] Keys v1 routing surface. [1C] GraphStoreAdapter unification + RetrievalConfig. [1D] Ingest contract completion: quality reports, log streaming, outbound webhooks. [2A] Neo4j adapter + graph store config panel. [2B] O1/O2 breaking changes: contract_version snake_case, /connect/v1/retrieve 206 on degraded.\n- 1.1.0 (2026-06-07): [O1 BREAKING] contractVersion field renamed to contract_version (snake_case) in resolve, simulate, and catalog responses. Update any consumers reading this field. [O2 BREAKING] /connect/v1/retrieve now returns HTTP 206 (Partial Content) instead of 200 when retrieval_degraded:true. [I4] /graph/v1/layout now requires authentication (gateway key, management key, or session). [I5] New /keys/v1/management-keys endpoints (POST/GET/DELETE) for management key lifecycle. [I9] GET /keys/v1/connections and GET /keys/v1/connections/{connectionId} now accept gateway keys (read-only)."
  },
  "servers": [
    { "url": "https://restormel-keys-gateway-main-bc13eba.zuplo.app" },
    { "url": "https://restormel-keys-gateway-working-co-185f3e3.zuplo.app" }
  ],
  "security": [{ "consumerKey": [] }],
  "tags": [
    { "name": "Knowledge graph", "description": "Higher-order retrieval, expansion, path-finding, and graph layout over your workspace knowledge graph." },
    { "name": "Ingest jobs", "description": "Create and poll Knowledge Ingest jobs that build your graph from sources." },
    { "name": "Verification", "description": "Claim extraction, reasoning evaluation, and constitution checks." },
    { "name": "Model routing", "description": "Resolve providers/models, list the model catalog, and evaluate routing policies." },
    { "name": "API keys & auth", "description": "Manage projects and Gateway keys (rk_…) used to call the API." },
    { "name": "Suite", "description": "Read-only suite tools mirrored over HTTP (docs, testing, observability, graph, state)." },
    { "name": "System", "description": "Service health and operational endpoints." }
  ],
  "paths": {
    "/api/health": {
      "get": {
        "summary": "Health check",
        "description": "Returns gateway health status. No auth required.",
        "operationId": "getHealth",
        "tags": ["System"],
        "security": [],
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "ok" },
                    "service": { "type": "string", "example": "keys-dashboard" }
                  }
                }
              }
            }
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "restormel-cors",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_BACKEND_URL}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": {
            "inbound": []
          }
        }
      }
    },
    "/api/suite/invoke": {
      "post": {
        "summary": "Invoke read-only suite tool (HTTP mirror of MCP)",
        "description": "Runs a Horizon Phase 1 suite read tool on the dashboard origin (docs canonical resolve, testing config validate, trace summarize, graph fixture validate, state memory preview). Request body: { tool, payload? }. See repo docs/integrations/restormel-suite-tool-envelope.schema.json.",
        "operationId": "postSuiteInvoke",
        "tags": ["Suite"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SuiteToolRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result JSON (structuredContent-equivalent; may include ok:false and code for tool-level errors)",
            "content": { "application/json": { "schema": { "type": "object" } } }
          },
          "400": {
            "description": "Invalid envelope or missing required payload fields",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        },
        "x-zuplo-route": {
          "corsPolicy": "restormel-cors",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_BACKEND_URL}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": { "inbound": ["api-key-inbound", "rate-limit-inbound", "quota-inbound", "inject-backend-auth"] }
        }
      }
    },
    "/api/projects": {
      "get": {
        "summary": "List projects",
        "description": "Returns all projects in the authenticated workspace.",
        "operationId": "listProjects",
        "tags": ["Model routing"],
        "responses": {
          "200": {
            "description": "List of projects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "array", "items": { "$ref": "#/components/schemas/Project" } }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        },
        "x-zuplo-route": {
          "corsPolicy": "restormel-cors",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_BACKEND_URL}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": {
            "inbound": ["api-key-inbound", "rate-limit-inbound", "quota-inbound", "inject-backend-auth"]
          }
        }
      },
      "post": {
        "summary": "Create project",
        "operationId": "createProject",
        "tags": ["Model routing"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "type": "object", "properties": { "name": { "type": "string", "description": "Project display name" } } }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Project created",
            "content": {
              "application/json": {
                "schema": { "type": "object", "properties": { "data": { "$ref": "#/components/schemas/Project" } } }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        },
        "x-zuplo-route": {
          "corsPolicy": "restormel-cors",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_BACKEND_URL}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": {
            "inbound": ["api-key-inbound", "rate-limit-inbound", "quota-inbound", "inject-backend-auth"]
          }
        }
      }
    },
    "/api/projects/{id}": {
      "get": {
        "summary": "Get project",
        "operationId": "getProject",
        "tags": ["Model routing"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": {
            "description": "Project details",
            "content": { "application/json": { "schema": { "type": "object", "properties": { "data": { "$ref": "#/components/schemas/Project" } } } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        },
        "x-zuplo-route": {
          "corsPolicy": "restormel-cors",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_BACKEND_URL}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": { "inbound": ["api-key-inbound", "rate-limit-inbound", "quota-inbound", "inject-backend-auth"] }
        }
      },
      "patch": {
        "summary": "Update project",
        "operationId": "updateProject",
        "tags": ["Model routing"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": {
          "content": { "application/json": { "schema": { "type": "object", "properties": { "name": { "type": "string" } } } } }
        },
        "responses": {
          "200": { "description": "Updated", "content": { "application/json": { "schema": { "type": "object", "properties": { "ok": { "type": "boolean" } } } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        },
        "x-zuplo-route": {
          "corsPolicy": "restormel-cors",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_BACKEND_URL}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": { "inbound": ["api-key-inbound", "rate-limit-inbound", "quota-inbound", "inject-backend-auth"] }
        }
      },
      "delete": {
        "summary": "Delete project",
        "operationId": "deleteProject",
        "tags": ["Model routing"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": { "description": "Deleted", "content": { "application/json": { "schema": { "type": "object", "properties": { "ok": { "type": "boolean" } } } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        },
        "x-zuplo-route": {
          "corsPolicy": "restormel-cors",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_BACKEND_URL}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": { "inbound": ["api-key-inbound", "rate-limit-inbound", "quota-inbound", "inject-backend-auth"] }
        }
      }
    },
    "/api/projects/{id}/keys": {
      "get": {
        "summary": "List Gateway Keys for a project",
        "operationId": "listProjectKeys",
        "tags": ["API keys & auth"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": {
            "description": "List of Gateway keys (masked)",
            "content": { "application/json": { "schema": { "type": "object", "properties": { "data": { "type": "array", "items": { "$ref": "#/components/schemas/KeyInfo" } } } } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        },
        "x-zuplo-route": {
          "corsPolicy": "restormel-cors",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_BACKEND_URL}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": { "inbound": ["api-key-inbound", "rate-limit-inbound", "quota-inbound", "inject-backend-auth"] }
        }
      },
      "post": {
        "summary": "Create Gateway Key",
        "operationId": "createApiKey",
        "tags": ["API keys & auth"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "201": {
            "description": "Key created; raw key returned once in response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "rawKey": { "type": "string", "description": "Shown only once; store securely" },
                        "keyPrefix": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        },
        "x-zuplo-route": {
          "corsPolicy": "restormel-cors",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_BACKEND_URL}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": { "inbound": ["api-key-inbound", "rate-limit-inbound", "quota-inbound", "inject-backend-auth"] }
        }
      },
      "delete": {
        "summary": "Revoke API key",
        "operationId": "deleteApiKey",
        "tags": ["API keys & auth"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": {
          "content": { "application/json": { "schema": { "type": "object", "properties": { "keyId": { "type": "string", "description": "Key ID to revoke" } } } } }
        },
        "responses": {
          "200": { "description": "Revoked", "content": { "application/json": { "schema": { "type": "object", "properties": { "ok": { "type": "boolean" } } } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        },
        "x-zuplo-route": {
          "corsPolicy": "restormel-cors",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_BACKEND_URL}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": { "inbound": ["api-key-inbound", "rate-limit-inbound", "quota-inbound", "inject-backend-auth"] }
        }
      }
    },
    "/keys/v1/catalog": {
      "get": {
        "summary": "Global model catalog (Keys v1)",
        "description": "Canonical provider+model catalog. Public read; same semantics as GET /keys/dashboard/api/catalog.",
        "operationId": "keysV1Catalog",
        "tags": ["Model routing"],
        "responses": {
          "200": { "description": "Catalog payload", "content": { "application/json": { "schema": { "type": "object" } } } }
        },
        "x-zuplo-route": {
          "corsPolicy": "restormel-cors",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_SITE_ORIGIN}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": { "inbound": ["api-key-inbound", "rate-limit-inbound", "quota-inbound", "inject-backend-auth"] }
        }
      }
    },
    "/keys/v1/models": {
      "get": {
        "summary": "List catalog models (Keys v1)",
        "description": "Paged model list. Same semantics as GET /keys/dashboard/api/models.",
        "operationId": "keysV1Models",
        "tags": ["Model routing"],
        "responses": {
          "200": { "description": "Model list", "content": { "application/json": { "schema": { "type": "object" } } } }
        },
        "x-zuplo-route": {
          "corsPolicy": "restormel-cors",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_SITE_ORIGIN}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": { "inbound": ["api-key-inbound", "rate-limit-inbound", "quota-inbound", "inject-backend-auth"] }
        }
      }
    },
    "/keys/v1/projects/{projectId}/resolve": {
      "post": {
        "summary": "Resolve provider/model for a project (Keys v1)",
        "description": "Runtime route resolution. Gateway key must be scoped to projectId. Same semantics as POST /keys/dashboard/api/projects/{id}/resolve.",
        "operationId": "keysV1Resolve",
        "tags": ["Model routing"],
        "parameters": [{ "name": "projectId", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "type": "object", "properties": { "environmentId": { "type": "string" } }, "required": ["environmentId"] } } }
        },
        "responses": {
          "200": { "description": "Resolved route", "content": { "application/json": { "schema": { "type": "object" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        },
        "x-zuplo-route": {
          "corsPolicy": "restormel-cors",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_SITE_ORIGIN}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": { "inbound": ["api-key-inbound", "rate-limit-inbound", "quota-inbound", "inject-backend-auth"] }
        }
      }
    },
    "/keys/v1/policies/evaluate": {
      "post": {
        "summary": "Evaluate guard rails (Keys v1)",
        "description": "Policy evaluation for a model/context. Same semantics as POST /keys/dashboard/api/policies/evaluate.",
        "operationId": "keysV1PoliciesEvaluate",
        "tags": ["Model routing"],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "type": "object" } } }
        },
        "responses": {
          "200": { "description": "Evaluation result", "content": { "application/json": { "schema": { "type": "object" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        },
        "x-zuplo-route": {
          "corsPolicy": "restormel-cors",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_SITE_ORIGIN}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": { "inbound": ["api-key-inbound", "rate-limit-inbound", "quota-inbound", "inject-backend-auth"] }
        }
      }
    },
    "/graph/v1/layout": {
      "post": {
        "summary": "Compute Contract v0 orbital layout (Graph v1)",
        "description": "Stateless layout from inline GraphData snapshot. Same semantics as in-process computeLayout in @restormel/graph-core. Auth required (I4, 2026-06-07): gateway key, management key, or session.",
        "operationId": "graphV1Layout",
        "tags": ["Knowledge graph"],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "type": "object" } } }
        },
        "responses": {
          "200": { "description": "Layout positions", "content": { "application/json": { "schema": { "type": "object" } } } },
          "400": { "description": "Invalid snapshot" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        },
        "x-zuplo-route": {
          "corsPolicy": "restormel-cors",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_SITE_ORIGIN}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": { "inbound": ["api-key-inbound", "rate-limit-inbound", "quota-inbound", "inject-backend-auth"] }
        }
      }
    },
    "/graph/v1/snapshots/{snapshotId}": {
      "get": {
        "summary": "Read hosted graph snapshot metadata (Graph v1)",
        "description": "Returns 501 Not Implemented until Phase 6 operator persistence ships. Use POST /graph/v1/layout with an inline snapshot today. See restormel.dev/changelog for updates.",
        "operationId": "graphV1GetSnapshot",
        "tags": ["Knowledge graph"],
        "parameters": [{ "name": "snapshotId", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "501": {
            "description": "Graph snapshots not yet available (Phase 6)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "string", "example": "not_implemented" },
                    "message": { "type": "string", "example": "Graph snapshots are not yet available. See restormel.dev/changelog for updates." }
                  }
                }
              }
            }
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "restormel-cors",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_SITE_ORIGIN}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": { "inbound": ["api-key-inbound", "rate-limit-inbound", "quota-inbound", "inject-backend-auth"] }
        }
      }
    },
    "/connect/v1/verify": {
      "post": {
        "summary": "Connect Verify (Connect v1)",
        "description": "Claim extraction, reasoning evaluation, and constitution checks via @restormel/reasoning-core.",
        "operationId": "knowledgeV1Verify",
        "tags": ["Verification"],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "type": "object" } } }
        },
        "responses": {
          "200": { "description": "Verification result envelope" },
          "400": { "description": "Invalid request" },
          "503": { "description": "Verify routes or credentials not configured" }
        },
        "x-zuplo-route": {
          "corsPolicy": "restormel-cors",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_SITE_ORIGIN}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": { "inbound": ["api-key-inbound", "rate-limit-inbound", "quota-inbound", "inject-backend-auth"] }
        }
      }
    },
    "/connect/v1/retrieve": {
      "post": {
        "summary": "Connect Retrieve (Connect v1) — deprecated",
        "description": "Deprecated: use POST /connect/v1/graph for full orchestrator support and domain-pack-aware retrieval. This endpoint will be removed in v2.\n\nGraph-aware context assembly via @restormel/graphrag-core (workspace graph index when configured).",
        "operationId": "knowledgeV1Retrieve",
        "deprecated": true,
        "tags": ["Knowledge graph"],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "type": "object" } } }
        },
        "responses": {
          "200": { "description": "Context block + retrieval metadata (graph store fully resolved)" },
          "206": { "description": "[O2, 2026-06-07] Partial Content: retrieval_degraded:true in metadata (graph store not configured, unreachable, or empty). Body shape is identical to 200. Deprecated: previously returned 200 for degraded responses." }
        },
        "x-zuplo-route": {
          "corsPolicy": "restormel-cors",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_SITE_ORIGIN}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": { "inbound": ["api-key-inbound", "rate-limit-inbound", "quota-inbound", "inject-backend-auth"] }
        }
      }
    },
    "/connect/v1/graph": {
      "post": {
        "summary": "Connect Graph retrieval (Connect v1)",
        "description": "Higher-order graph retrieval via the RetrievalOrchestrator. Supports retrieve_context, expand_context, find_relevant_subgraph, find_paths, and summarise_subgraph operations. Preferred over /connect/v1/retrieve for all new integrations.",
        "operationId": "knowledgeV1Graph",
        "tags": ["Knowledge graph"],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "type": "object" } } }
        },
        "responses": {
          "200": { "description": "Context block, subgraph/paths, trace, and retrieval metadata" },
          "400": { "description": "Invalid request" }
        },
        "x-zuplo-route": {
          "corsPolicy": "restormel-cors",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_SITE_ORIGIN}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": { "inbound": ["api-key-inbound", "rate-limit-inbound", "quota-inbound", "inject-backend-auth"] }
        }
      }
    },
    "/connect/v1/ingest/jobs": {
      "post": {
        "summary": "Create Connect Ingest job (Connect v1)",
        "description": "Creates a new knowledge ingest job. Supports idempotency: include an `Idempotency-Key` header (any unique string, max 256 chars) to safely retry without creating duplicate jobs. The same key returns the original 201 response for 24 hours.",
        "operationId": "knowledgeV1IngestCreateJob",
        "tags": ["Ingest jobs"],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Caller-supplied idempotency key. Duplicate requests with the same key within 24 hours return the original response.",
            "schema": { "type": "string", "maxLength": 256 }
          }
        ],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "type": "object" } } }
        },
        "responses": {
          "201": {
            "description": "Job created and persisted",
            "headers": {
              "X-Request-Id": { "$ref": "#/components/headers/X-Request-Id" },
              "X-RateLimit-Limit": { "$ref": "#/components/headers/X-RateLimit-Limit" },
              "X-RateLimit-Remaining": { "$ref": "#/components/headers/X-RateLimit-Remaining" },
              "X-RateLimit-Reset": { "$ref": "#/components/headers/X-RateLimit-Reset" }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contract_version": { "type": "string", "example": "2026-06-01" },
                    "job": { "$ref": "#/components/schemas/ConnectIngestJob" }
                  }
                }
              }
            }
          },
          "400": { "description": "Invalid request" }
        },
        "x-zuplo-route": {
          "corsPolicy": "restormel-cors",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_SITE_ORIGIN}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": { "inbound": ["api-key-inbound", "rate-limit-inbound", "quota-inbound", "inject-backend-auth"] }
        }
      },
      "get": {
        "summary": "List Connect Ingest jobs (Connect v1)",
        "description": "Returns a cursor-paginated list of ingest jobs for the workspace. Use `limit` and `cursor` for paging; carry `next_cursor` from each response as `cursor` in the next request.",
        "operationId": "knowledgeV1IngestListJobs",
        "tags": ["Ingest jobs"],
        "parameters": [
          { "name": "workspace_id", "in": "query", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "name": "project_id", "in": "query", "required": false, "schema": { "type": "string", "format": "uuid" } },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Max results per page. Default 20, max 100.",
            "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 20 }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque pagination cursor from the previous response's next_cursor field.",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated jobs for the workspace",
            "headers": {
              "X-Request-Id": { "$ref": "#/components/headers/X-Request-Id" },
              "X-RateLimit-Limit": { "$ref": "#/components/headers/X-RateLimit-Limit" },
              "X-RateLimit-Remaining": { "$ref": "#/components/headers/X-RateLimit-Remaining" },
              "X-RateLimit-Reset": { "$ref": "#/components/headers/X-RateLimit-Reset" }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ConnectIngestJobListResponse" }
              }
            }
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "restormel-cors",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_SITE_ORIGIN}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": { "inbound": ["api-key-inbound", "rate-limit-inbound", "quota-inbound", "inject-backend-auth"] }
        }
      }
    },
    "/connect/v1/ingest/jobs/{jobId}": {
      "get": {
        "summary": "Connect Ingest job status (Connect v1)",
        "operationId": "knowledgeV1IngestJobStatus",
        "tags": ["Ingest jobs"],
        "parameters": [
          { "name": "jobId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "name": "workspace_id", "in": "query", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "name": "project_id", "in": "query", "required": false, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "200": {
            "description": "Job status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contract_version": { "type": "string", "example": "2026-06-01" },
                    "job": { "$ref": "#/components/schemas/ConnectIngestJob" }
                  }
                }
              }
            }
          },
          "404": { "$ref": "#/components/responses/NotFound" }
        },
        "x-zuplo-route": {
          "corsPolicy": "restormel-cors",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_SITE_ORIGIN}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": { "inbound": ["api-key-inbound", "rate-limit-inbound", "quota-inbound", "inject-backend-auth"] }
        }
      }
    },
    "/connect/v1/ingest/jobs/{jobId}/logs": {
      "get": {
        "summary": "Stream Connect Ingest job logs (Connect v1)",
        "operationId": "knowledgeV1IngestJobLogs",
        "tags": ["Ingest jobs"],
        "description": "Incremental, paginated worker log lines. Poll with the previous response's next_since cursor.",
        "parameters": [
          { "name": "jobId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "name": "workspace_id", "in": "query", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "name": "project_id", "in": "query", "required": false, "schema": { "type": "string", "format": "uuid" } },
          { "name": "since", "in": "query", "required": false, "schema": { "type": "integer", "minimum": 0 }, "description": "Log line cursor; return lines after this index." },
          { "name": "limit", "in": "query", "required": false, "schema": { "type": "integer", "minimum": 1, "maximum": 500, "default": 100 } }
        ],
        "responses": {
          "200": {
            "description": "Log lines",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ConnectIngestJobLogs" } } }
          },
          "404": { "$ref": "#/components/responses/NotFound" }
        },
        "x-zuplo-route": {
          "corsPolicy": "restormel-cors",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_SITE_ORIGIN}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": { "inbound": ["api-key-inbound", "rate-limit-inbound", "quota-inbound", "inject-backend-auth"] }
        }
      }
    },
    "/connect/v1/webhooks": {
      "post": {
        "summary": "Register a Connect ingest webhook (Connect v1)",
        "operationId": "knowledgeV1WebhookCreate",
        "tags": ["Webhooks"],
        "description": "Register an outbound webhook fired when an ingest job reaches a terminal state. Payloads are HMAC-SHA256 signed (X-Restormel-Signature: sha256=<hex>). The signing_secret is returned exactly once.",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ConnectWebhookCreateRequest" } } }
        },
        "responses": {
          "201": {
            "description": "Webhook registered",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ConnectWebhookCreateResponse" } } }
          },
          "400": { "description": "Invalid request" }
        },
        "x-zuplo-route": {
          "corsPolicy": "restormel-cors",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_SITE_ORIGIN}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": { "inbound": ["api-key-inbound", "rate-limit-inbound", "quota-inbound", "inject-backend-auth"] }
        }
      },
      "get": {
        "summary": "List Connect ingest webhooks (Connect v1)",
        "operationId": "knowledgeV1WebhookList",
        "tags": ["Webhooks"],
        "parameters": [
          { "name": "workspace_id", "in": "query", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "name": "project_id", "in": "query", "required": false, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "200": {
            "description": "Webhooks for the workspace",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contract_version": { "type": "string", "example": "2026-06-01" },
                    "webhooks": { "type": "array", "items": { "$ref": "#/components/schemas/ConnectWebhook" } }
                  }
                }
              }
            }
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "restormel-cors",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_SITE_ORIGIN}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": { "inbound": ["api-key-inbound", "rate-limit-inbound", "quota-inbound", "inject-backend-auth"] }
        }
      }
    },
    "/connect/v1/webhooks/{webhookId}": {
      "get": {
        "summary": "Get a Connect ingest webhook (Connect v1)",
        "operationId": "knowledgeV1WebhookGet",
        "tags": ["Webhooks"],
        "parameters": [
          { "name": "webhookId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "name": "workspace_id", "in": "query", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "name": "project_id", "in": "query", "required": false, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "200": {
            "description": "Webhook",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ConnectWebhook" } } }
          },
          "404": { "$ref": "#/components/responses/NotFound" }
        },
        "x-zuplo-route": {
          "corsPolicy": "restormel-cors",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_SITE_ORIGIN}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": { "inbound": ["api-key-inbound", "rate-limit-inbound", "quota-inbound", "inject-backend-auth"] }
        }
      },
      "delete": {
        "summary": "Delete a Connect ingest webhook (Connect v1)",
        "operationId": "knowledgeV1WebhookDelete",
        "tags": ["Webhooks"],
        "parameters": [
          { "name": "webhookId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "name": "workspace_id", "in": "query", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "name": "project_id", "in": "query", "required": false, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "200": { "description": "Webhook deleted" },
          "404": { "$ref": "#/components/responses/NotFound" }
        },
        "x-zuplo-route": {
          "corsPolicy": "restormel-cors",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_SITE_ORIGIN}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": { "inbound": ["api-key-inbound", "rate-limit-inbound", "quota-inbound", "inject-backend-auth"] }
        }
      }
    },
    "/keys/v1/management-keys": {
      "get": {
        "summary": "List management keys (Keys v1)",
        "description": "List management keys for the authenticated workspace. Session auth required.",
        "operationId": "keysV1ListManagementKeys",
        "tags": ["KeysV1"],
        "responses": {
          "200": { "description": "List of management key records (prefix only; no raw key)", "content": { "application/json": { "schema": { "type": "object" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_SITE_ORIGIN}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": { "inbound": ["api-key-inbound", "rate-limit-inbound", "quota-inbound", "inject-backend-auth"] }
        }
      },
      "post": {
        "summary": "Issue management key (Keys v1)",
        "description": "Issue a management key scoped to the caller's workspace. Session auth required. Raw key shown once. Management keys are workspace-scoped; gateway keys are project-scoped.",
        "operationId": "keysV1CreateManagementKey",
        "tags": ["KeysV1"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "type": "object", "properties": { "label": { "type": "string", "description": "Optional friendly label" } } }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Management key created; raw key returned once",
            "content": { "application/json": { "schema": { "type": "object" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_SITE_ORIGIN}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": { "inbound": ["api-key-inbound", "rate-limit-inbound", "quota-inbound", "inject-backend-auth"] }
        }
      }
    },
    "/keys/v1/management-keys/{keyId}": {
      "delete": {
        "summary": "Revoke management key (Keys v1)",
        "description": "Revoke a management key by ID. Session auth required. Only the workspace owner may revoke.",
        "operationId": "keysV1RevokeManagementKey",
        "tags": ["KeysV1"],
        "parameters": [{ "name": "keyId", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": { "description": "Revoked", "content": { "application/json": { "schema": { "type": "object", "properties": { "ok": { "type": "boolean" } } } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_SITE_ORIGIN}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": { "inbound": ["api-key-inbound", "rate-limit-inbound", "quota-inbound", "inject-backend-auth"] }
        }
      }
    },
    "/keys/v1/connections": {
      "get": {
        "summary": "List source connections (Keys v1)",
        "description": "Read-only. Returns source connections for the caller's workspace. Auth: gateway key, management key, or session (I9).",
        "operationId": "keysV1ListConnections",
        "tags": ["KeysV1"],
        "responses": {
          "200": { "description": "List of source connections", "content": { "application/json": { "schema": { "type": "object" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_SITE_ORIGIN}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": { "inbound": ["api-key-inbound", "rate-limit-inbound", "quota-inbound", "inject-backend-auth"] }
        }
      }
    },
    "/keys/v1/connections/{connectionId}": {
      "get": {
        "summary": "Get source connection (Keys v1)",
        "description": "Read-only. Returns a single source connection by ID for the caller's workspace. Auth: gateway key, management key, or session (I9).",
        "operationId": "keysV1GetConnection",
        "tags": ["KeysV1"],
        "parameters": [{ "name": "connectionId", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": { "description": "Source connection", "content": { "application/json": { "schema": { "type": "object" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_SITE_ORIGIN}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": { "inbound": ["api-key-inbound", "rate-limit-inbound", "quota-inbound", "inject-backend-auth"] }
        }
      }
    }
  }
  ,
  "components": {
    "securitySchemes": {
      "consumerKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "A Zuplo consumer key (zpka_...). Send as Authorization: Bearer <key>."
      }
    },
    "schemas": {
      "SuiteToolRequest": {
        "type": "object",
        "required": ["tool"],
        "properties": {
          "tool": {
            "type": "string",
            "enum": [
              "docs.canonical_resolve",
              "testing.config_validate",
              "observability.trace_summarize",
              "graph.fixture_validate",
              "state.memory_preview"
            ]
          },
          "payload": {
            "type": "object",
            "description": "Tool-specific arguments (e.g. topic, content+format, traceJson, graphJson, eventsJson)."
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": { "type": "string" },
          "detail": { "type": "string" }
        }
      },
      "Project": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "example": "91f652fb-fedc-4893-ae5e-025491ae5231" },
          "name": { "type": "string", "example": "Sophia" },
          "workspaceId": { "type": "string", "nullable": true },
          "createdAt": { "type": "integer", "format": "int64", "description": "Epoch milliseconds." },
          "environments": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Environment" },
            "description": "Optional. Present when expanded by the backend."
          }
        }
      },
      "Environment": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "example": "prod" },
          "name": { "type": "string", "example": "Production" }
        }
      },
      "KeyInfo": {
        "type": "object",
        "description": "A Gateway Key. Full key is shown only at creation time.",
        "properties": {
          "id": { "type": "string" },
          "keyPrefix": { "type": "string", "example": "rk_a3f..." },
          "createdAt": { "type": "integer", "format": "int64", "description": "Epoch milliseconds." },
          "type": { "type": "string", "example": "gateway" }
        }
      },
      "QualityReport": {
        "type": "object",
        "description": "Ingest quality assessment. Nullable: present only once validation has run for the job.",
        "nullable": true,
        "properties": {
          "trust_score": { "type": "number", "minimum": 0, "maximum": 100 },
          "supported_count": { "type": "integer" },
          "weak_count": { "type": "integer" },
          "unsupported_count": { "type": "integer" },
          "total_count": { "type": "integer" },
          "remediation_applied": { "type": "boolean" },
          "assessed_at": { "type": "string", "format": "date-time" }
        }
      },
      "ConnectIngestJobLogLine": {
        "type": "object",
        "properties": {
          "index": { "type": "integer", "minimum": 0, "description": "Cursor; pass next_since back as ?since=." },
          "timestamp": { "type": "string", "format": "date-time" },
          "stage": { "type": "string", "example": "EXTRACT" },
          "level": { "type": "string", "enum": ["info", "warn", "error"] },
          "message": { "type": "string" }
        }
      },
      "ConnectIngestJobLogs": {
        "type": "object",
        "properties": {
          "contract_version": { "type": "string", "example": "2026-06-01" },
          "job_id": { "type": "string", "format": "uuid" },
          "log_lines": { "type": "array", "items": { "$ref": "#/components/schemas/ConnectIngestJobLogLine" } },
          "next_since": { "type": "integer", "minimum": 0 },
          "total": { "type": "integer", "minimum": 0 }
        }
      },
      "ConnectIngestJobListResponse": {
        "type": "object",
        "required": ["contract_version", "jobs", "next_cursor", "total_count"],
        "properties": {
          "contract_version": { "type": "string", "example": "2026-06-01" },
          "jobs": { "type": "array", "items": { "$ref": "#/components/schemas/ConnectIngestJob" } },
          "next_cursor": {
            "type": "string",
            "nullable": true,
            "description": "Opaque pagination cursor. Pass as ?cursor= in the next request. Null when no further pages."
          },
          "total_count": {
            "type": "integer",
            "minimum": 0,
            "description": "Total number of ingest jobs for the workspace (across all pages)."
          }
        }
      },
      "ConnectWebhookCreateRequest": {
        "type": "object",
        "required": ["workspace_id", "url", "events"],
        "properties": {
          "workspace_id": { "type": "string", "format": "uuid" },
          "project_id": { "type": "string", "format": "uuid" },
          "url": { "type": "string", "format": "uri" },
          "events": {
            "type": "array",
            "minItems": 1,
            "items": { "type": "string", "enum": ["job.completed", "job.failed", "job.quality_below_threshold"] }
          },
          "quality_threshold": { "type": "number", "minimum": 0, "maximum": 100, "description": "Trust-score floor for job.quality_below_threshold. Default 70." },
          "secret": { "type": "string", "minLength": 16, "maxLength": 256, "description": "Optional signing secret; generated when omitted." }
        }
      },
      "ConnectWebhook": {
        "type": "object",
        "properties": {
          "webhook_id": { "type": "string", "format": "uuid" },
          "workspace_id": { "type": "string", "format": "uuid" },
          "url": { "type": "string", "format": "uri" },
          "events": {
            "type": "array",
            "items": { "type": "string", "enum": ["job.completed", "job.failed", "job.quality_below_threshold"] }
          },
          "quality_threshold": { "type": "number", "minimum": 0, "maximum": 100, "nullable": true },
          "active": { "type": "boolean" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "ConnectWebhookCreateResponse": {
        "allOf": [
          { "$ref": "#/components/schemas/ConnectWebhook" },
          {
            "type": "object",
            "properties": {
              "signing_secret": { "type": "string", "description": "Returned exactly once, at registration." }
            }
          }
        ]
      },
      "ConnectIngestJob": {
        "type": "object",
        "description": "A workspace-scoped Knowledge Ingest job, persisted to Postgres.",
        "required": ["id", "workspace_id", "status", "created_at", "updated_at"],
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "workspace_id": { "type": "string", "format": "uuid" },
          "status": {
            "type": "string",
            "enum": ["pending", "running", "completed", "failed", "cancelled"]
          },
          "label": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" },
          "current_stage": { "type": "string" },
          "current_action": { "type": "string", "maxLength": 500 },
          "progress": {
            "type": "object",
            "properties": {
              "percent": { "type": "number", "minimum": 0, "maximum": 100 },
              "processed": { "type": "integer" },
              "total": { "type": "integer" },
              "execution_mode": { "type": "string", "enum": ["stub", "full"] }
            }
          },
          "stages": { "type": "array", "items": { "type": "object" } },
          "sources": { "type": "array", "items": { "type": "object" } },
          "stop_after_stage": { "type": "string" },
          "pipeline_profile_id": { "type": "string", "format": "uuid" },
          "domain_pack_id": { "type": "string", "format": "uuid" },
          "graph_target_id": { "type": "string", "format": "uuid" },
          "quality_report": { "$ref": "#/components/schemas/QualityReport" },
          "error": { "type": "string" }
        }
      }
    },
    "headers": {
      "X-Request-Id": {
        "description": "Unique identifier for this request, echoed in error envelopes as request_id. Generated by the server if not present in the incoming request.",
        "schema": { "type": "string", "format": "uuid" }
      },
      "X-RateLimit-Limit": {
        "description": "Maximum requests allowed in the current window.",
        "schema": { "type": "integer" }
      },
      "X-RateLimit-Remaining": {
        "description": "Requests remaining in the current window.",
        "schema": { "type": "integer" }
      },
      "X-RateLimit-Reset": {
        "description": "Unix timestamp (seconds) when the current window resets.",
        "schema": { "type": "integer" }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Missing or invalid consumer key",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
      }
    }
  }
}
