{
  "openapi": "3.0.0",
  "info": {
    "title": "Restormel Keys API",
    "version": "1.0.0",
    "description": "Zuplo Gateway API for Restormel Keys. Consumer keys (zpka_...) authenticate at the edge; inbound policies forward to the dashboard with a backend Gateway key (rk_...). Control-plane CRUD uses /api/* on KEYS_BACKEND_URL. Runtime hot paths (Phase 1+) use /keys/v1/* on KEYS_SITE_ORIGIN (site root, e.g. https://restormel.dev)."
  },
  "servers": [
    { "url": "https://restormel-keys-gateway-main-bc13eba.zuplo.app" },
    { "url": "https://restormel-keys-gateway-working-co-185f3e3.zuplo.app" }
  ],
  "security": [{ "consumerKey": [] }],
  "paths": {
    "/api/health": {
      "get": {
        "summary": "Health check",
        "description": "Returns gateway health status. No auth required.",
        "operationId": "getHealth",
        "tags": ["System"],
        "security": [],
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "ok" },
                    "service": { "type": "string", "example": "keys-dashboard" }
                  }
                }
              }
            }
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_BACKEND_URL}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": {
            "inbound": []
          }
        }
      }
    },
    "/api/suite/invoke": {
      "post": {
        "summary": "Invoke read-only suite tool (HTTP mirror of MCP)",
        "description": "Runs a Horizon Phase 1 suite read tool on the dashboard origin (docs canonical resolve, testing config validate, trace summarize, graph fixture validate, state memory preview). Request body: { tool, payload? }. See repo docs/integrations/restormel-suite-tool-envelope.schema.json.",
        "operationId": "postSuiteInvoke",
        "tags": ["Suite"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SuiteToolRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result JSON (structuredContent-equivalent; may include ok:false and code for tool-level errors)",
            "content": { "application/json": { "schema": { "type": "object" } } }
          },
          "400": {
            "description": "Invalid envelope or missing required payload fields",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_BACKEND_URL}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": { "inbound": ["api-key-inbound", "rate-limit-inbound", "quota-inbound", "inject-backend-auth"] }
        }
      }
    },
    "/api/projects": {
      "get": {
        "summary": "List projects",
        "description": "Returns all projects in the authenticated workspace.",
        "operationId": "listProjects",
        "tags": ["Projects"],
        "responses": {
          "200": {
            "description": "List of projects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "array", "items": { "$ref": "#/components/schemas/Project" } }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_BACKEND_URL}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": {
            "inbound": ["api-key-inbound", "rate-limit-inbound", "quota-inbound", "inject-backend-auth"]
          }
        }
      },
      "post": {
        "summary": "Create project",
        "operationId": "createProject",
        "tags": ["Projects"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "type": "object", "properties": { "name": { "type": "string", "description": "Project display name" } } }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Project created",
            "content": {
              "application/json": {
                "schema": { "type": "object", "properties": { "data": { "$ref": "#/components/schemas/Project" } } }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_BACKEND_URL}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": {
            "inbound": ["api-key-inbound", "rate-limit-inbound", "quota-inbound", "inject-backend-auth"]
          }
        }
      }
    },
    "/api/projects/{id}": {
      "get": {
        "summary": "Get project",
        "operationId": "getProject",
        "tags": ["Projects"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": {
            "description": "Project details",
            "content": { "application/json": { "schema": { "type": "object", "properties": { "data": { "$ref": "#/components/schemas/Project" } } } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_BACKEND_URL}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": { "inbound": ["api-key-inbound", "rate-limit-inbound", "quota-inbound", "inject-backend-auth"] }
        }
      },
      "patch": {
        "summary": "Update project",
        "operationId": "updateProject",
        "tags": ["Projects"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": {
          "content": { "application/json": { "schema": { "type": "object", "properties": { "name": { "type": "string" } } } } }
        },
        "responses": {
          "200": { "description": "Updated", "content": { "application/json": { "schema": { "type": "object", "properties": { "ok": { "type": "boolean" } } } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_BACKEND_URL}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": { "inbound": ["api-key-inbound", "rate-limit-inbound", "quota-inbound", "inject-backend-auth"] }
        }
      },
      "delete": {
        "summary": "Delete project",
        "operationId": "deleteProject",
        "tags": ["Projects"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": { "description": "Deleted", "content": { "application/json": { "schema": { "type": "object", "properties": { "ok": { "type": "boolean" } } } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_BACKEND_URL}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": { "inbound": ["api-key-inbound", "rate-limit-inbound", "quota-inbound", "inject-backend-auth"] }
        }
      }
    },
    "/api/projects/{id}/keys": {
      "get": {
        "summary": "List Gateway Keys for a project",
        "operationId": "listProjectKeys",
        "tags": ["Keys"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": {
            "description": "List of Gateway keys (masked)",
            "content": { "application/json": { "schema": { "type": "object", "properties": { "data": { "type": "array", "items": { "$ref": "#/components/schemas/KeyInfo" } } } } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_BACKEND_URL}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": { "inbound": ["api-key-inbound", "rate-limit-inbound", "quota-inbound", "inject-backend-auth"] }
        }
      },
      "post": {
        "summary": "Create Gateway Key",
        "operationId": "createApiKey",
        "tags": ["Keys"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "201": {
            "description": "Key created; raw key returned once in response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "rawKey": { "type": "string", "description": "Shown only once; store securely" },
                        "keyPrefix": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_BACKEND_URL}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": { "inbound": ["api-key-inbound", "rate-limit-inbound", "quota-inbound", "inject-backend-auth"] }
        }
      },
      "delete": {
        "summary": "Revoke API key",
        "operationId": "deleteApiKey",
        "tags": ["Keys"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": {
          "content": { "application/json": { "schema": { "type": "object", "properties": { "keyId": { "type": "string", "description": "Key ID to revoke" } } } } }
        },
        "responses": {
          "200": { "description": "Revoked", "content": { "application/json": { "schema": { "type": "object", "properties": { "ok": { "type": "boolean" } } } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_BACKEND_URL}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": { "inbound": ["api-key-inbound", "rate-limit-inbound", "quota-inbound", "inject-backend-auth"] }
        }
      }
    },
    "/keys/v1/catalog": {
      "get": {
        "summary": "Global model catalog (Keys v1)",
        "description": "Canonical provider+model catalog. Public read; same semantics as GET /keys/dashboard/api/catalog.",
        "operationId": "keysV1Catalog",
        "tags": ["KeysV1"],
        "responses": {
          "200": { "description": "Catalog payload", "content": { "application/json": { "schema": { "type": "object" } } } }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_SITE_ORIGIN}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": { "inbound": ["api-key-inbound", "rate-limit-inbound", "quota-inbound", "inject-backend-auth"] }
        }
      }
    },
    "/keys/v1/models": {
      "get": {
        "summary": "List catalog models (Keys v1)",
        "description": "Paged model list. Same semantics as GET /keys/dashboard/api/models.",
        "operationId": "keysV1Models",
        "tags": ["KeysV1"],
        "responses": {
          "200": { "description": "Model list", "content": { "application/json": { "schema": { "type": "object" } } } }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_SITE_ORIGIN}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": { "inbound": ["api-key-inbound", "rate-limit-inbound", "quota-inbound", "inject-backend-auth"] }
        }
      }
    },
    "/keys/v1/projects/{projectId}/resolve": {
      "post": {
        "summary": "Resolve provider/model for a project (Keys v1)",
        "description": "Runtime route resolution. Gateway key must be scoped to projectId. Same semantics as POST /keys/dashboard/api/projects/{id}/resolve.",
        "operationId": "keysV1Resolve",
        "tags": ["KeysV1"],
        "parameters": [{ "name": "projectId", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "type": "object", "properties": { "environmentId": { "type": "string" } }, "required": ["environmentId"] } } }
        },
        "responses": {
          "200": { "description": "Resolved route", "content": { "application/json": { "schema": { "type": "object" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_SITE_ORIGIN}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": { "inbound": ["api-key-inbound", "rate-limit-inbound", "quota-inbound", "inject-backend-auth"] }
        }
      }
    },
    "/keys/v1/policies/evaluate": {
      "post": {
        "summary": "Evaluate guard rails (Keys v1)",
        "description": "Policy evaluation for a model/context. Same semantics as POST /keys/dashboard/api/policies/evaluate.",
        "operationId": "keysV1PoliciesEvaluate",
        "tags": ["KeysV1"],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "type": "object" } } }
        },
        "responses": {
          "200": { "description": "Evaluation result", "content": { "application/json": { "schema": { "type": "object" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_SITE_ORIGIN}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": { "inbound": ["api-key-inbound", "rate-limit-inbound", "quota-inbound", "inject-backend-auth"] }
        }
      }
    },
    "/graph/v1/layout": {
      "post": {
        "summary": "Compute Contract v0 orbital layout (Graph v1)",
        "description": "Stateless layout from inline GraphData snapshot. Same semantics as in-process computeLayout in @restormel/graph-core.",
        "operationId": "graphV1Layout",
        "tags": ["GraphV1"],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "type": "object" } } }
        },
        "responses": {
          "200": { "description": "Layout positions", "content": { "application/json": { "schema": { "type": "object" } } } },
          "400": { "description": "Invalid snapshot" }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_SITE_ORIGIN}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": { "inbound": ["api-key-inbound", "rate-limit-inbound", "quota-inbound", "inject-backend-auth"] }
        }
      }
    },
    "/graph/v1/snapshots/{snapshotId}": {
      "get": {
        "summary": "Read hosted graph snapshot metadata (Graph v1)",
        "description": "Returns 404 until Phase 6 operator persistence. Use POST /graph/v1/layout with inline snapshot today.",
        "operationId": "graphV1GetSnapshot",
        "tags": ["GraphV1"],
        "parameters": [{ "name": "snapshotId", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "404": { "description": "Snapshot not found (persistence Phase 6)" }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_SITE_ORIGIN}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": { "inbound": ["api-key-inbound", "rate-limit-inbound", "quota-inbound", "inject-backend-auth"] }
        }
      }
    },
    "/connect/v1/verify": {
      "post": {
        "summary": "Connect Verify (Connect v1)",
        "description": "Claim extraction, reasoning evaluation, and constitution checks via @restormel/reasoning-core.",
        "operationId": "knowledgeV1Verify",
        "tags": ["ConnectV1"],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "type": "object" } } }
        },
        "responses": {
          "200": { "description": "Verification result envelope" },
          "400": { "description": "Invalid request" },
          "503": { "description": "Verify routes or credentials not configured" }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_SITE_ORIGIN}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": { "inbound": ["api-key-inbound", "rate-limit-inbound", "quota-inbound", "inject-backend-auth"] }
        }
      }
    },
    "/connect/v1/retrieve": {
      "post": {
        "summary": "Connect Retrieve (Connect v1)",
        "description": "Graph-aware context assembly via @restormel/graphrag-core (workspace graph index when configured).",
        "operationId": "knowledgeV1Retrieve",
        "tags": ["ConnectV1"],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "type": "object" } } }
        },
        "responses": {
          "200": { "description": "Context block + retrieval metadata" }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_SITE_ORIGIN}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": { "inbound": ["api-key-inbound", "rate-limit-inbound", "quota-inbound", "inject-backend-auth"] }
        }
      }
    },
    "/connect/v1/ingest/jobs": {
      "post": {
        "summary": "Create Connect Ingest job (Connect v1)",
        "operationId": "knowledgeV1IngestCreateJob",
        "tags": ["ConnectV1"],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "type": "object" } } }
        },
        "responses": {
          "501": { "description": "Not ready until Phase 5b job persistence" }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_SITE_ORIGIN}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": { "inbound": ["api-key-inbound", "rate-limit-inbound", "quota-inbound", "inject-backend-auth"] }
        }
      },
      "get": {
        "summary": "List Connect Ingest jobs (Connect v1)",
        "operationId": "knowledgeV1IngestListJobs",
        "tags": ["ConnectV1"],
        "responses": {
          "501": { "description": "Not ready until Phase 5b job persistence" }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_SITE_ORIGIN}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": { "inbound": ["api-key-inbound", "rate-limit-inbound", "quota-inbound", "inject-backend-auth"] }
        }
      }
    },
    "/connect/v1/ingest/jobs/{jobId}": {
      "get": {
        "summary": "Connect Ingest job status (Connect v1)",
        "operationId": "knowledgeV1IngestJobStatus",
        "tags": ["ConnectV1"],
        "parameters": [{ "name": "jobId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }],
        "responses": {
          "501": { "description": "Not ready until Phase 5b job persistence" }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_SITE_ORIGIN}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": { "inbound": ["api-key-inbound", "rate-limit-inbound", "quota-inbound", "inject-backend-auth"] }
        }
      }
    }
  }
  ,
  "components": {
    "securitySchemes": {
      "consumerKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "A Zuplo consumer key (zpka_...). Send as Authorization: Bearer <key>."
      }
    },
    "schemas": {
      "SuiteToolRequest": {
        "type": "object",
        "required": ["tool"],
        "properties": {
          "tool": {
            "type": "string",
            "enum": [
              "docs.canonical_resolve",
              "testing.config_validate",
              "observability.trace_summarize",
              "graph.fixture_validate",
              "state.memory_preview"
            ]
          },
          "payload": {
            "type": "object",
            "description": "Tool-specific arguments (e.g. topic, content+format, traceJson, graphJson, eventsJson)."
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": { "type": "string" },
          "detail": { "type": "string" }
        }
      },
      "Project": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "example": "91f652fb-fedc-4893-ae5e-025491ae5231" },
          "name": { "type": "string", "example": "Sophia" },
          "workspaceId": { "type": "string", "nullable": true },
          "createdAt": { "type": "integer", "format": "int64", "description": "Epoch milliseconds." },
          "environments": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Environment" },
            "description": "Optional. Present when expanded by the backend."
          }
        }
      },
      "Environment": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "example": "prod" },
          "name": { "type": "string", "example": "Production" }
        }
      },
      "KeyInfo": {
        "type": "object",
        "description": "A Gateway Key. Full key is shown only at creation time.",
        "properties": {
          "id": { "type": "string" },
          "keyPrefix": { "type": "string", "example": "rk_a3f..." },
          "createdAt": { "type": "integer", "format": "int64", "description": "Epoch milliseconds." },
          "type": { "type": "string", "example": "gateway" }
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Missing or invalid consumer key",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
      }
    }
  }
}
