{
  "openapi": "3.0.0",
  "info": {
    "title": "Restormel Keys API",
    "version": "1.0.0",
    "description": "Zuplo Gateway API (control-plane CRUD) for managing projects and Gateway keys. Call through this Zuplo gateway with a Zuplo consumer key (zpka_...). Runtime operations (Resolve, policies/evaluate, routes/steps) are Dashboard API endpoints and are NOT served through this gateway. POST /api/suite/invoke forwards read-only suite tool execution to the dashboard (same semantics as @restormel/mcp Horizon tools)."
  },
  "servers": [
    { "url": "https://restormel-keys-gateway-main-bc13eba.zuplo.app" },
    { "url": "https://restormel-keys-gateway-working-co-185f3e3.zuplo.app" }
  ],
  "security": [{ "consumerKey": [] }],
  "paths": {
    "/api/health": {
      "get": {
        "summary": "Health check",
        "description": "Returns gateway health status. No auth required.",
        "operationId": "getHealth",
        "tags": ["System"],
        "security": [],
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "ok" },
                    "service": { "type": "string", "example": "keys-dashboard" }
                  }
                }
              }
            }
          }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_BACKEND_URL}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": {
            "inbound": []
          }
        }
      }
    },
    "/api/suite/invoke": {
      "post": {
        "summary": "Invoke read-only suite tool (HTTP mirror of MCP)",
        "description": "Runs a Horizon Phase 1 suite read tool on the dashboard origin (docs canonical resolve, testing config validate, trace summarize, graph fixture validate, state memory preview). Request body: { tool, payload? }. See repo docs/integrations/restormel-suite-tool-envelope.schema.json.",
        "operationId": "postSuiteInvoke",
        "tags": ["Suite"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SuiteToolRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool result JSON (structuredContent-equivalent; may include ok:false and code for tool-level errors)",
            "content": { "application/json": { "schema": { "type": "object" } } }
          },
          "400": {
            "description": "Invalid envelope or missing required payload fields",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_BACKEND_URL}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": { "inbound": ["api-key-inbound", "rate-limit-inbound", "quota-inbound", "inject-backend-auth"] }
        }
      }
    },
    "/api/projects": {
      "get": {
        "summary": "List projects",
        "description": "Returns all projects in the authenticated workspace.",
        "operationId": "listProjects",
        "tags": ["Projects"],
        "responses": {
          "200": {
            "description": "List of projects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "array", "items": { "$ref": "#/components/schemas/Project" } }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_BACKEND_URL}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": {
            "inbound": ["api-key-inbound", "rate-limit-inbound", "quota-inbound", "inject-backend-auth"]
          }
        }
      },
      "post": {
        "summary": "Create project",
        "operationId": "createProject",
        "tags": ["Projects"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "type": "object", "properties": { "name": { "type": "string", "description": "Project display name" } } }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Project created",
            "content": {
              "application/json": {
                "schema": { "type": "object", "properties": { "data": { "$ref": "#/components/schemas/Project" } } }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_BACKEND_URL}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": {
            "inbound": ["api-key-inbound", "rate-limit-inbound", "quota-inbound", "inject-backend-auth"]
          }
        }
      }
    },
    "/api/projects/{id}": {
      "get": {
        "summary": "Get project",
        "operationId": "getProject",
        "tags": ["Projects"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": {
            "description": "Project details",
            "content": { "application/json": { "schema": { "type": "object", "properties": { "data": { "$ref": "#/components/schemas/Project" } } } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_BACKEND_URL}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": { "inbound": ["api-key-inbound", "rate-limit-inbound", "quota-inbound", "inject-backend-auth"] }
        }
      },
      "patch": {
        "summary": "Update project",
        "operationId": "updateProject",
        "tags": ["Projects"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": {
          "content": { "application/json": { "schema": { "type": "object", "properties": { "name": { "type": "string" } } } } }
        },
        "responses": {
          "200": { "description": "Updated", "content": { "application/json": { "schema": { "type": "object", "properties": { "ok": { "type": "boolean" } } } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_BACKEND_URL}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": { "inbound": ["api-key-inbound", "rate-limit-inbound", "quota-inbound", "inject-backend-auth"] }
        }
      },
      "delete": {
        "summary": "Delete project",
        "operationId": "deleteProject",
        "tags": ["Projects"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": { "description": "Deleted", "content": { "application/json": { "schema": { "type": "object", "properties": { "ok": { "type": "boolean" } } } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_BACKEND_URL}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": { "inbound": ["api-key-inbound", "rate-limit-inbound", "quota-inbound", "inject-backend-auth"] }
        }
      }
    },
    "/api/projects/{id}/keys": {
      "get": {
        "summary": "List Gateway Keys for a project",
        "operationId": "listProjectKeys",
        "tags": ["Keys"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": {
            "description": "List of Gateway keys (masked)",
            "content": { "application/json": { "schema": { "type": "object", "properties": { "data": { "type": "array", "items": { "$ref": "#/components/schemas/KeyInfo" } } } } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_BACKEND_URL}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": { "inbound": ["api-key-inbound", "rate-limit-inbound", "quota-inbound", "inject-backend-auth"] }
        }
      },
      "post": {
        "summary": "Create Gateway Key",
        "operationId": "createApiKey",
        "tags": ["Keys"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "201": {
            "description": "Key created; raw key returned once in response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "rawKey": { "type": "string", "description": "Shown only once; store securely" },
                        "keyPrefix": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_BACKEND_URL}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": { "inbound": ["api-key-inbound", "rate-limit-inbound", "quota-inbound", "inject-backend-auth"] }
        }
      },
      "delete": {
        "summary": "Revoke API key",
        "operationId": "deleteApiKey",
        "tags": ["Keys"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": {
          "content": { "application/json": { "schema": { "type": "object", "properties": { "keyId": { "type": "string", "description": "Key ID to revoke" } } } } }
        },
        "responses": {
          "200": { "description": "Revoked", "content": { "application/json": { "schema": { "type": "object", "properties": { "ok": { "type": "boolean" } } } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        },
        "x-zuplo-route": {
          "corsPolicy": "none",
          "handler": {
            "export": "urlForwardHandler",
            "module": "$import(@zuplo/runtime)",
            "options": { "baseUrl": "${env.KEYS_BACKEND_URL}", "forwardSearch": true, "followRedirects": false }
          },
          "policies": { "inbound": ["api-key-inbound", "rate-limit-inbound", "quota-inbound", "inject-backend-auth"] }
        }
      }
    }
  }
  ,
  "components": {
    "securitySchemes": {
      "consumerKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "A Zuplo consumer key (zpka_...). Send as Authorization: Bearer <key>."
      }
    },
    "schemas": {
      "SuiteToolRequest": {
        "type": "object",
        "required": ["tool"],
        "properties": {
          "tool": {
            "type": "string",
            "enum": [
              "docs.canonical_resolve",
              "testing.config_validate",
              "observability.trace_summarize",
              "graph.fixture_validate",
              "state.memory_preview"
            ]
          },
          "payload": {
            "type": "object",
            "description": "Tool-specific arguments (e.g. topic, content+format, traceJson, graphJson, eventsJson)."
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": { "type": "string" },
          "detail": { "type": "string" }
        }
      },
      "Project": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "example": "91f652fb-fedc-4893-ae5e-025491ae5231" },
          "name": { "type": "string", "example": "Sophia" },
          "workspaceId": { "type": "string", "nullable": true },
          "createdAt": { "type": "integer", "format": "int64", "description": "Epoch milliseconds." },
          "environments": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Environment" },
            "description": "Optional. Present when expanded by the backend."
          }
        }
      },
      "Environment": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "example": "prod" },
          "name": { "type": "string", "example": "Production" }
        }
      },
      "KeyInfo": {
        "type": "object",
        "description": "A Gateway Key. Full key is shown only at creation time.",
        "properties": {
          "id": { "type": "string" },
          "keyPrefix": { "type": "string", "example": "rk_a3f..." },
          "createdAt": { "type": "integer", "format": "int64", "description": "Epoch milliseconds." },
          "type": { "type": "string", "example": "gateway" }
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Missing or invalid consumer key",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
      }
    }
  }
}
