# Restormel Keys Cloud API — OpenAPI 3.0
# Use this spec in the Zuplo Developer Portal (import or paste) so the portal shows API docs.
# Canonical runbook: docs/runbooks/zuplo-setup.md (§5, Launch readiness §6).

openapi: 3.0.3
info:
  title: Restormel Keys API
  version: 1.6.0
  description: |
    API for managing projects and API keys. Call through the Zuplo gateway with a consumer API key.
    Authentication is required for all endpoints (API key in Authorization header).

    **Two HTTP surfaces:** (1) **Zuplo Gateway** — control-plane CRUD (projects, keys); use **consumer key** (`zpka_...`, `apiKey` scheme).
    (2) **Dashboard API** on the dashboard host — resolve, routes/steps, policies, catalog, **project model index**; use **Gateway Key** (`rk_...`, `gatewayKey` scheme). See each operation’s `security` and `servers` — Dashboard-only paths are documented under the dashboard server URL.

    **Dashboard resolve contract:** `POST .../resolve` success payloads use `contract_version` `2026-04-16` and return stable
    machine-readable `error` codes with aligned HTTP statuses (see that operation).

    **Breaking change (O1, 2026-06-07):** The `contractVersion` field in resolve, simulate, and catalog responses has been renamed to `contract_version` (snake_case) for consistency with the Connect v1 API. Update any consumers that read this field. The `runtimeContractVersion` and `runtimeSwitchEvalVersion` fields in runtime/invoke responses are unchanged (camelCase) for now.

    **Gateway Key JSON base (dashboard host):** `https://restormel.dev/keys/dashboard` — machine clients should expect
    `application/json` for errors under `/api/...` (including unknown routes and many server failures).

    **Project model index:** `GET/POST/PUT /api/projects/{projectId}/models`, `PATCH/DELETE .../models/{bindingId}` — project-scoped bindings
    for selectors. Each row has **`bindingKind`**: **`execution`** (canonical `providerType` + Keys catalog `modelId`, strict validation) or **`registry`** (arbitrary provider/model strings for host merge metadata; nested `model` may be null). **Default `GET` response:** the binding rows are in JSON **`data`** (array); there is no `data.bindings` key — integrators should read `data`. **Global catalog** remains `GET /api/models`. Legacy: `GET .../models?source=catalog`
    on the project path returns the global list (deprecated — prefer `GET /api/models`). **Batch validation errors:** `POST`/`PUT` may return **400** with `error: project_models_validation_failed` and `errors[]` (see schema `ProjectModelsValidationError`). Spec: `docs/requirements/project-model-index-gateway-api.md`, integrator note: `docs/guides/integration/keys-catalog-sync.md`.

    **Suite migration (draft):** Planned versioned paths `/keys/v1/*`, `/graph/v1/*`, `/connect/v1/*` — see `docs/api/openapi-suite-v1-draft.yaml` and [SUITE-ARCHITECTURE-MIGRATION.md](../restormel/SUITE-ARCHITECTURE-MIGRATION.md).

    **Inventory (subset; see paths below):** `GET/POST /api/projects`, `GET/PATCH /api/projects/{id}`, `POST /api/projects/{id}/resolve`, `POST /api/projects/{projectId}/routes/{routeId}/runtime/invoke`, `POST /api/projects/{projectId}/routes/{routeId}/runtime/jobs`, `GET /api/projects/{projectId}/routes/{routeId}/runtime/jobs/{jobId}`, `DELETE /api/projects/{projectId}/routes/{routeId}/runtime/jobs/{jobId}`,
    `GET/POST /api/projects/{id}/routes`, `GET/PATCH/DELETE .../routes/{routeId}`, `GET/POST .../steps`, `PATCH/DELETE .../steps/{stepId}`,
    `POST .../publish`, `POST .../rollback`, `GET .../history`, `POST .../simulate`, `GET .../export`, `GET .../explain-chain`, `POST .../routes/import`, `POST .../validate-binding`, `POST .../recommend`,
    `GET/POST/PUT .../models`, `PATCH/DELETE .../models/{bindingId}`, `GET .../keys`, `GET .../readiness`, `GET .../route-coverage`, `GET .../routing-capabilities`, `GET .../switch-criteria-enums`,
    `GET .../providers/health`, `GET .../provider-bindings`, `GET/POST /api/policies`, policy lifecycle routes, `POST .../policies/evaluate`,
    `GET /api/models`, `GET /api/catalog`, `POST /api/catalog/observations`.

servers:
  - url: https://restormel-keys-gateway-main-bc13eba.zuplo.app
    description: Main (production)
  - url: https://restormel-keys-gateway-working-co-185f3e3.zuplo.app
    description: Working copy (resilience / fallback)
  - url: https://restormel.dev/keys/dashboard
    description: Dashboard API (Gateway Key)

security:
  - apiKey: []

paths:
  /api/health:
    get:
      summary: Health check
      description: >-
        Public liveness check. No authentication required; returns 200 for any
        caller (including unauthenticated and invalid-key requests).
      operationId: getHealth
      tags: [System]
      security: []
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: ok }
                  service: { type: string, example: keys-dashboard }

  /api/projects:
    get:
      summary: List projects
      operationId: listProjects
      tags: [Projects]
      responses:
        "200":
          description: List of projects
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Project" }
    post:
      summary: Create project
      operationId: createProject
      tags: [Projects]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string, description: Project display name }
      responses:
        "201":
          description: Project created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/Project" }

  /api/projects/{id}:
    get:
      summary: Get project
      operationId: getProject
      tags: [Projects]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Project details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/Project" }
        "404":
          description: Not found
    patch:
      summary: Update project
      operationId: updateProject
      tags: [Projects]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
        "404":
          description: Not found
    delete:
      summary: Delete project
      operationId: deleteProject
      tags: [Projects]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
        "404":
          description: Not found

  /api/projects/{id}/keys:
    get:
      summary: List API keys for project
      operationId: listProjectKeys
      tags: [Keys]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: List of key metadata (prefix/hash only; raw key never returned)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/KeyInfo" }
        "404":
          description: Not found
    post:
      summary: Create API key
      operationId: createApiKey
      tags: [Keys]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "201":
          description: Key created; raw key returned once in response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      rawKey: { type: string, description: "Shown only once; store securely" }
                      keyPrefix: { type: string }
        "404":
          description: Not found
    delete:
      summary: Revoke API key
      operationId: deleteApiKey
      tags: [Keys]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                keyId: { type: string, description: Key ID to revoke }
      responses:
        "200":
          description: Revoked
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
        "404":
          description: Not found

  # ---------------------------------------------------------------------------
  # Dashboard API (Gateway Key) — runtime operations (Resolve + policies + routes/steps)
  # Server: https://restormel.dev/keys/dashboard
  # ---------------------------------------------------------------------------

  /api/projects/{projectId}/routes:
    get:
      summary: List routes (host discovery)
      description: |
        Returns routes for the project. When `environmentId` is set, results are scoped to that environment.
        Optional `workload` and `stage` narrow the list. Each item includes `isPublished` (`version === publishedVersion`)
        so hosts can skip unpublished routes before calling resolve.
      operationId: listProjectRoutes
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
        - name: environmentId
          in: query
          required: false
          schema: { type: string }
        - name: workload
          in: query
          required: false
          schema: { type: string }
        - name: stage
          in: query
          required: false
          schema: { type: string }
      responses:
        "200":
          description: Route list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/RouteListEntry" }
        "401":
          description: Unauthorized
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: Project not found or not accessible
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "500":
          description: Internal error
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }

  /api/projects/{projectId}/resolve:
    post:
      summary: Resolve (routing decision)
      description: |
        Selects a **published** route (`version === publishedVersion`), active, and enabled, then the first enabled step that passes policy.

        **Precedence:** If `routeId` is set (route UUID or route **name**), only that route is considered; there is no fallback to other routes.
        If `routeId` is omitted, selection uses `environmentId` plus optional `workload` / `stage`:
        with both `workload` and `stage`, a dedicated route matching both is preferred, then a **shared** route with the same `workload` and null/empty `stage`.
        With `workload` only (no `stage`), only shared routes (null `stage`) match.

        **Stable error codes** (JSON `error` field; hosts should branch on these, not only HTTP status):
        | HTTP | `error` | Meaning |
        |------|---------|---------|
        | 401 | `unauthorized` | Missing/invalid auth or project not in scope |
        | 403 | `policy_blocked` | Route matched but every enabled step was blocked by policy (`violations` present) |
        | 403 | `route_disabled` | Explicit `routeId` refers to a disabled or non-active route |
        | 404 | `no_route` | No matching route, wrong environment for `routeId`, or discovery found nothing |
        | 409 | `route_unpublished` | Explicit `routeId` exists but draft (`version` ≠ `publishedVersion`) |
        | 422 | `no_key_available` | Route matched but there is no enabled step to select (configure steps) |
        | 422 | `resolve_incomplete` | A step passed policy but is missing executable `providerType` + `modelId` |
      operationId: resolveRoute
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [environmentId]
              properties:
                environmentId: { type: string, description: Environment to resolve against (e.g. dev, prod) }
                routeId:
                  type: string
                  description: Optional. Route UUID or route name; when set, wins over discovery and does not fall back
                stage: { type: string, description: Optional stage hint (e.g. ingestion_extraction for SOPHIA ingestion) }
                workload: { type: string, description: Optional workload hint (e.g. ingestion) }
                task: { type: string, description: Optional task hint (reserved; passed through for future criteria) }
                attemptNumber: { type: integer, minimum: 0 }
                failureKind: { type: string, nullable: true }
                estimatedInputTokens: { type: number, nullable: true }
                estimatedInputChars: { type: number, nullable: true }
                complexity: { type: string, nullable: true }
                constraints:
                  type: object
                  properties:
                    maxCost: { type: number, nullable: true }
                    latency: { type: string, nullable: true }
                previousFailure:
                  type: object
                  properties:
                    selectedOrderIndex: { type: integer, nullable: true }
                    selectedStepId: { type: string, nullable: true }
      responses:
        "200":
          description: Resolved provider/model decision
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      contract_version: { type: string, example: "2026-04-16", description: "snake_case; renamed from contractVersion (O1, 2026-06-07)" }
                      traceId: { type: string, nullable: true }
                      routeId: { type: string, description: Matched route ID }
                      routeName: { type: string, description: Matched route name }
                      route: { $ref: "#/components/schemas/RouteResolveMetadata" }
                      providerType: { type: string, description: Canonical API slug; e.g. vertex for Google }
                      modelId: { type: string, description: Non-null on HTTP 200 success }
                      selectedPoolMemberIndex: { type: integer, nullable: true, description: Set when the winning step used a model pool member }
                      explanation: { type: string }
                      selectedStepId: { type: string, nullable: true }
                      selectedOrderIndex: { type: integer, nullable: true }
                      switchReasonCode: { type: string, nullable: true }
                      estimatedCostUsd: { type: number, nullable: true }
                      matchedCriteria:
                        type: object
                        nullable: true
                        additionalProperties: true
                      fallbackCandidates:
                        type: array
                        items:
                          type: object
                          properties:
                            stepId: { type: string }
                            orderIndex: { type: integer }
                            providerType: { type: string, nullable: true }
                            modelId: { type: string, nullable: true }
                            enabled: { type: boolean }
                      decisionMetadata:
                        type: object
                        nullable: true
                        additionalProperties: true
                      stepChain:
                        type: array
                        description: All enabled steps in order; exactly one row has selected true on success
                        items: { $ref: "#/components/schemas/ResolveStepChainEntry" }
        "401":
          description: Unauthorized (`error` typically `unauthorized`)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "403":
          description: Forbidden — `policy_blocked` (violations) or `route_disabled`
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: No route (`error` `no_route`)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "409":
          description: Route exists but unpublished (`error` `route_unpublished`)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "422":
          description: No enabled step (`no_key_available`) or incomplete executable step (`resolve_incomplete`)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "500":
          description: Internal resolve error
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }

  /api/projects/{projectId}/routes/{routeId}/runtime/invoke:
    post:
      summary: Runtime invoke (hosted pipeline chat)
      description: |
        **Phase 2–3:** Walks **enabled** route steps in **graph-linear order** (same ordering as `POST /resolve`), runs **policy** per step, then executes a **pipeline** of **OpenAI-compatible** `POST /v1/chat/completions` calls. Step 1 uses the request `messages`; each later step receives the same initial messages plus the **previous step’s assistant output** as an additional **user** message (chained pipeline). **Phase 3:** On upstream failure, Keys may **advance** to the next enabled step when **`fallbackOn`** and allowlisted **`switchCriteria.advanceOn`** match the classified failure kind (`error`, `rate_limit`, …); see **`runtimeSwitchEvalVersion`**.

        **Limits:** At most **10** enabled steps per route; maximum wall time per request is capped (HTTP **504** `runtime_wall_timeout` if exceeded). More than 10 enabled steps returns **422** `runtime_step_limit_exceeded`.

        **Auth:** Same as resolve — Gateway key or session; project scoping unchanged.

        **Response:** `data` includes `runtimeContractVersion`, **`runtimeSwitchEvalVersion`**, `content` (final assistant text), aggregated `usage`, optional `runtimeSteps[]` (per-step token usage and skipped steps, including `upstream_failed_advancing`), and resolve-aligned fields (`contract_version`, route, provider/model for the **last** executed step, etc.). Raw API keys are never returned.

        **Stable error codes** (JSON `error` field):
        | HTTP | `error` | Meaning |
        |------|---------|---------|
        | 401 | `unauthorized` | Missing/invalid auth or project not in scope |
        | 402 | `usage_limit_reached` | Free-plan monthly request cap (when entitlements apply) |
        | 403 | `policy_blocked` | Every enabled step was blocked by policy |
        | 404 | `no_route` / `integration_not_found` | No route or missing provider integration |
        | 409 | `route_unpublished` | Route exists but draft |
        | 422 | `no_key_available` / `resolve_incomplete` / `credential_unavailable` / `runtime_provider_not_supported` / `runtime_step_limit_exceeded` | No executable output, credentials, unsupported provider for a step, or too many steps |
        | 502 | `runtime_upstream_error` | Upstream HTTP or parse failure (safe `message`; no secrets) |
        | 504 | `runtime_wall_timeout` | Pipeline exceeded maximum duration |
        | 500 | `internal_error` | Server error |
      operationId: runtimeInvokeRoute
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
        - name: routeId
          in: path
          required: true
          schema: { type: string, description: Route UUID or route name }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [environmentId, messages]
              properties:
                environmentId: { type: string, description: Environment to resolve against (e.g. dev, prod) }
                traceId:
                  type: string
                  nullable: true
                  description: Optional correlation id echoed in success `data.traceId` when present
                messages:
                  type: array
                  minItems: 1
                  items:
                    type: object
                    required: [role, content]
                    properties:
                      role:
                        type: string
                        enum: [system, user, assistant, developer]
                      content: { type: string }
      responses:
        "200":
          description: Assistant content + usage + resolved subset
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      runtimeContractVersion:
                        type: string
                        example: "2026-06-01"
                      runtimeSwitchEvalVersion:
                        type: string
                        example: "2026-06-01"
                        description: Allowlisted advanceOn / fallbackOn evaluation for upstream failures
                      runtimeSteps:
                        type: array
                        description: Per-step execution or skip (when present)
                        items:
                          type: object
                          properties:
                            routeStepId: { type: string }
                            orderIndex: { type: integer }
                            providerType: { type: string, nullable: true }
                            modelId: { type: string, nullable: true }
                            promptTokens: { type: integer, nullable: true }
                            completionTokens: { type: integer, nullable: true }
                            totalTokens: { type: integer, nullable: true }
                            skipped: { type: boolean }
                            skipReason: { type: string }
                      contract_version:
                        type: string
                        example: "2026-04-16"
                        description: "snake_case; renamed from contractVersion (O1, 2026-06-07)"
                      content: { type: string, description: Assistant message text from upstream choices[0].message.content }
                      usage:
                        type: object
                        properties:
                          promptTokens: { type: integer, nullable: true }
                          completionTokens: { type: integer, nullable: true }
                          totalTokens: { type: integer, nullable: true }
                      traceId: { type: string, nullable: true }
                      routeId: { type: string }
                      routeName: { type: string }
                      route: { $ref: "#/components/schemas/RouteResolveMetadata" }
                      providerType: { type: string }
                      modelId: { type: string, nullable: true }
                      explanation: { type: string }
                      selectedStepId: { type: string, nullable: true }
                      selectedOrderIndex: { type: integer, nullable: true }
                      stepChain:
                        type: array
                        items: { $ref: "#/components/schemas/ResolveStepChainEntry" }
        "401":
          description: Unauthorized
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "402":
          description: Usage limit reached (free tier)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "403":
          description: Policy blocked
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: No route or integration not found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "409":
          description: Route unpublished
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "422":
          description: Resolve or runtime constraint failure
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "502":
          description: Upstream provider error
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "504":
          description: Runtime pipeline wall timeout
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "500":
          description: Internal error
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }

  /api/projects/{projectId}/routes/{routeId}/runtime/jobs:
    post:
      summary: Hosted runtime job (persisted pipeline)
      description: |
        Persists **`hosted_runtime_jobs`** and runs the **same** OpenAI-compatible pipeline as `POST …/runtime/invoke`, including **parallel fan-out** when multiple enabled steps share a **`parallelGroupId`** (merge strategies **`first_wins`** | **`all_succeed`**).
        Set **`async`: true** to enqueue (**202**) and process via a worker (`pnpm --filter dashboard run hosted-runtime-worker`) or best-effort in-process drain after the request.
        **`Idempotency-Key`** (header) or **`idempotencyKey`** (body) deduplicates **`POST`** per project, route, environment, and key.
      operationId: runtimeJobsCreate
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
        - name: routeId
          in: path
          required: true
          schema: { type: string }
        - name: Idempotency-Key
          in: header
          required: false
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [environmentId, messages]
              properties:
                environmentId: { type: string }
                async: { type: boolean, description: When true, enqueue and return 202 }
                idempotencyKey: { type: string, description: Same role as Idempotency-Key header }
                mergeStrategy:
                  type: string
                  enum: [first_wins, all_succeed]
                messages:
                  type: array
                  minItems: 1
                  items:
                    type: object
                    required: [role, content]
                    properties:
                      role: { type: string }
                      content: { type: string }
      responses:
        "200":
          description: Job completed inline (or idempotent replay of a completed job); `data` includes `jobId` and the same fields as runtime invoke success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    additionalProperties: true
        "202":
          description: Job accepted asynchronously (or idempotent replay while queued/processing); `data` contains `jobId`, `status`, `async`
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: Route not found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "422":
          description: Constraint failure
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "502":
          description: Upstream error
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "504":
          description: Wall timeout
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "500":
          description: Internal error
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }

  /api/projects/{projectId}/routes/{routeId}/runtime/jobs/{jobId}:
    get:
      summary: Get hosted runtime job status
      description: Returns persisted job row for the project (no secrets in `result`).
      operationId: runtimeJobsGet
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
        - name: routeId
          in: path
          required: true
          schema: { type: string }
        - name: jobId
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Job snapshot
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: Job not found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "500":
          description: Internal error
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
    delete:
      summary: Cancel hosted runtime job
      description: |
        Requests cancellation for **queued** or **processing** jobs. Queued jobs may transition immediately to **cancelled**;
        processing jobs set **`cancelRequestedAt`** and complete as **cancelled** when the worker observes the flag.
      operationId: runtimeJobsCancel
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
        - name: routeId
          in: path
          required: true
          schema: { type: string }
        - name: jobId
          in: path
          required: true
          schema: { type: string }
      responses:
        "204":
          description: Cancellation recorded (queued job cancelled, or processing job marked for cancel)
        "401":
          description: Unauthorized
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: Job not found or not cancellable
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "500":
          description: Internal error
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }

  /api/models:
    get:
      summary: List models (catalog slice)
      operationId: listModelsPublic
      tags: [Dashboard API]
      description: |
        Public read; optional filters `lifecycleState`, `family`, `limit`, `offset`.

        **Default viability:** omits models with lifecycle `deprecated` or `retired` (unless `lifecycleState` is set)
        and omits models whose `retirement_date` is in the past. Use **`includeUnhealthy=1`** (or `true`) for the full DB slice (operators).
      parameters:
        - name: lifecycleState
          in: query
          schema: { type: string }
        - name: family
          in: query
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 500 }
        - name: offset
          in: query
          schema: { type: integer, minimum: 0 }
        - name: includeUnhealthy
          in: query
          description: When `1` or `true`, include deprecated/retired lifecycle and past-retirement models (operator diagnostics).
          schema: { type: string, enum: ["1", "true"] }
      responses:
        "200":
          description: Model rows
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { type: object, additionalProperties: true }

  /api/catalog:
    get:
      summary: Canonical provider + model catalog
      operationId: getCanonicalCatalog
      tags: [Dashboard API]
      description: |
        Versioned feed (`contract_version`, currently `2026-03-26.catalog.v6`); see docs/guides/canonical-catalog and catalog-governance. Note: field renamed from `contractVersion` (O1, 2026-06-07 — breaking change).
        Each `data[]` model may include `deprecationDate`, `retirementDate` (ISO 8601), and `replacementModelId` when set in the database.
      parameters:
        - name: lifecycleState
          in: query
          schema: { type: string }
        - name: family
          in: query
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer }
        - name: offset
          in: query
          schema: { type: integer }
        - name: includeUnhealthy
          in: query
          schema: { type: string, enum: ["1"] }
        - name: skipDefaultAllowlist
          in: query
          schema: { type: string, enum: ["1"] }
      responses:
        "200":
          description: Catalog payload
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true

  /api/catalog/observations:
    post:
      summary: Report catalog model observation (crowd signal)
      operationId: postCatalogObservation
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Ack
        "401":
          description: Unauthorized

  /api/projects/{projectId}/models:
    get:
      summary: List project model index
      description: |
        Default: returns **project bindings** as the JSON array **`data`** (each entry: `id`, `bindingKind`, `providerType`, `modelId`, `enabled`, timestamps, nested `model` catalog row or null). This **`data`** field is the stable integration point; the API does not use `data.bindings`.

        **Query `source=catalog`:** returns the **global** model catalog (same as `GET /api/models`) for legacy callers; **deprecated** — new clients should call **`GET /api/models`** for the global catalog instead of this query parameter. With `source=catalog`, **`includeUnhealthy=1`** matches `GET /api/models` (full catalog slice for operators).

        **Auth:** Gateway Key (`rk_...`) or session — **not** the Zuplo consumer key.

        **Provider types:** Canonical values and `google`/`vertex` aliases: `docs/guides/resolve-to-execution-contract.md`.

        **Integrator reference:** `docs/guides/integration/keys-catalog-sync.md`.
      operationId: listProjectModels
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
        - name: source
          in: query
          description: Omit or `project` for bindings; `catalog` for legacy global list (deprecated).
          schema: { type: string, enum: [project, catalog] }
        - name: lifecycleState
          in: query
          description: Only when `source=catalog`.
          schema: { type: string }
        - name: family
          in: query
          description: Only when `source=catalog`.
          schema: { type: string }
        - name: limit
          in: query
          description: Only when `source=catalog`.
          schema: { type: integer }
        - name: offset
          in: query
          description: Only when `source=catalog`.
          schema: { type: integer }
        - name: includeUnhealthy
          in: query
          description: Only when `source=catalog`; same semantics as `GET /api/models`.
          schema: { type: string, enum: ["1", "true"] }
      responses:
        "200":
          description: Project index or legacy catalog
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/ProjectModelIndexEntry" }
                  meta:
                    type: object
                    properties:
                      source: { type: string, enum: [project, catalog] }
                      deprecation: { type: string }
        "401":
          description: Unauthorized
        "403":
          description: Forbidden (e.g. Gateway Key for another project)
    post:
      summary: Add models to project index (batch, idempotent)
      description: |
        Upserts bindings. Same `providerType` + `modelId` re-sends **enabled: true** (idempotent). **`bindingKind` `execution`** (default): validates canonical provider + catalog + variants when variants exist. **`bindingKind` `registry`**: length/sanity only; no catalog requirement.

        **400:** `error` is **`project_models_validation_failed`** with **`errors[]`** (per-row `index`, `field`, `code`, `message`) for automated callers — see `ProjectModelsValidationError` and `docs/guides/integration/keys-catalog-sync.md`.
      operationId: addProjectModelBindings
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ProjectModelBatchAddRequest" }
      responses:
        "200":
          description: Full project index after add
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/ProjectModelIndexEntry" }
        "400":
          description: Validation failed
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ProjectModelsValidationError" }
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
    put:
      summary: Replace project model allowlist (declarative)
      description: |
        Deletes all bindings for the project, then inserts the provided set. Use `enabled: false` to keep a row disabled. Empty `models` clears the index. Per-row optional **`bindingKind`** (`execution` default vs `registry`); same validation rules as `POST`.

        **400:** same validation envelope as `POST` — **`project_models_validation_failed`** + **`errors[]`** (`ProjectModelsValidationError`).
      operationId: replaceProjectModelBindings
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ProjectModelReplaceRequest" }
      responses:
        "200":
          description: New index
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/ProjectModelIndexEntry" }
        "400":
          description: Validation failed
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ProjectModelsValidationError" }
        "401":
          description: Unauthorized
        "403":
          description: Forbidden

  /api/projects/{projectId}/models/{bindingId}:
    patch:
      summary: Enable or disable a project model binding
      operationId: patchProjectModelBinding
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
        - name: bindingId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [enabled]
              properties:
                enabled: { type: boolean }
      responses:
        "200":
          description: Updated binding
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/ProjectModelIndexEntry" }
        "400":
          description: Bad request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Binding not found
    delete:
      summary: Remove a project model binding (hard delete)
      operationId: deleteProjectModelBinding
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
        - name: bindingId
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      deleted: { type: boolean }
                      id: { type: string }
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Binding not found

  /api/policies:
    get:
      summary: List policies
      operationId: listPolicies
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      responses:
        "200":
          description: Policies visible in current auth scope
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
        "401":
          description: Unauthorized

  /api/policies/{id}:
    get:
      summary: Get policy
      operationId: getPolicy
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Policy in current auth scope
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    additionalProperties: true
        "401":
          description: Unauthorized
        "404":
          description: Not found

  /api/policies/evaluate:
    post:
      summary: Evaluate policies
      operationId: evaluatePolicies
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                projectId: { type: string }
                environmentId: { type: string }
                routeId: { type: string }
                modelId: { type: string }
                providerType: { type: string }
      responses:
        "200":
          description: Policy evaluation result
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      allowed: { type: boolean }
                      violations:
                        type: array
                        items:
                          type: object
                          properties:
                            policyId: { type: string }
                            policyName: { type: string }
                            type: { type: string }
                            message: { type: string }
        "400":
          description: Invalid request
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "401":
          description: Unauthorized
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "403":
          description: Forbidden
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }

  /api/projects/{projectId}/routes/{routeId}/steps:
    get:
      summary: List route steps
      operationId: listRouteSteps
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
        - name: routeId
          in: path
          required: true
          schema: { type: string, description: Route internal ID (UUID) }
      responses:
        "200":
          description: List of route steps (ordered by orderIndex)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/RouteStep" }
        "401":
          description: Unauthorized
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "403":
          description: Forbidden
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: Route not found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
    post:
      summary: Create route step
      operationId: createRouteStep
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
        - name: routeId
          in: path
          required: true
          schema: { type: string, description: Route internal ID (UUID) }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RouteStepCreate" }
      responses:
        "201":
          description: Route step created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/RouteStep" }
        "400":
          description: |
            Validation error (`invalid_step_schema`, unknown `modelId`, etc.) or **`route_step_provider_not_allowed`**
            when `providerPreference` is not an allowed execution slug (includes **`allowed`** array for clients).
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
                  - $ref: "#/components/schemas/RouteStepProviderNotAllowedError"
        "403":
          description: Forbidden
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: Route not found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "409":
          description: Duplicate orderIndex
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }

  /api/projects/{projectId}/routes/{routeId}/steps/{stepId}:
    patch:
      summary: Update route step
      operationId: updateRouteStep
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
        - name: routeId
          in: path
          required: true
          schema: { type: string, description: Route internal ID (UUID) }
        - name: stepId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RouteStepPatch" }
      responses:
        "200":
          description: Route step updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/RouteStep" }
        "400":
          description: |
            Validation error or **`route_step_provider_not_allowed`** when `providerPreference` is not an allowed execution slug.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
                  - $ref: "#/components/schemas/RouteStepProviderNotAllowedError"
        "403":
          description: Forbidden
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: Route not found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }

  /api/projects/{projectId}/routes/{routeId}/simulate:
    post:
      summary: Simulate route execution
      operationId: simulateRoute
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
        - name: routeId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [environmentId]
              properties:
                environmentId: { type: string }
                stage: { type: string, nullable: true }
                workload: { type: string, nullable: true }
                attemptNumber: { type: integer, minimum: 0 }
                failureKind: { type: string, nullable: true }
                estimatedInputTokens: { type: number, nullable: true }
                estimatedInputChars: { type: number, nullable: true }
                previousFailure:
                  type: object
                  properties:
                    selectedOrderIndex: { type: integer, nullable: true }
                    selectedStepId: { type: string, nullable: true }
                includeStepDiagnostics:
                  type: boolean
                  description: When true (default), response includes stepDiagnostics (extra policy evaluations per enabled step).
                includeRoutingAttempts:
                  type: boolean
                  description: When true, response includes routingAttempts (hypothetical tier outcomes for this dry-run). Implies policy evaluation even if includeStepDiagnostics is false.
                includeHostedSwitchEvaluation:
                  type: boolean
                  description: When true, response includes hostedRuntimeSwitch (Phase 3 advance matrix aligned with POST …/runtime/invoke).
      responses:
        "200":
          description: Simulation result
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      contract_version: { type: string, example: "2026-04-16", description: "snake_case; renamed from contractVersion (O1, 2026-06-07)" }
                      traceId: { type: string, nullable: true }
                      routeId: { type: string }
                      routeName: { type: string }
                      providerType: { type: string, description: Canonical API slug; e.g. vertex for Google }
                      modelId: { type: string, description: Non-null when simulation would run }
                      switchReasonCode: { type: string, nullable: true }
                      matchedCriteria:
                        type: object
                        nullable: true
                        additionalProperties: true
                      fallbackCandidates:
                        type: array
                        items:
                          type: object
                          additionalProperties: true
                      stepChain:
                        type: array
                        items: { $ref: "#/components/schemas/ResolveStepChainEntry" }
                      selectedStepId: { type: string, nullable: true }
                      estimatedCostUsd: { type: number, nullable: true }
                      perStepEstimates:
                        type: array
                        items:
                          type: object
                          additionalProperties: true
                      wouldRun: { type: boolean }
                      switchOutcomePreview:
                        type: object
                        additionalProperties: true
                      hostedRuntimeSwitch:
                        type: object
                        description: Present when includeHostedSwitchEvaluation is true; Phase 3 advance matrix for hosted invoke
                        additionalProperties: true
                      stepDiagnostics:
                        type: array
                        description: Present when includeStepDiagnostics is not false; per enabled step policy + executable probe.
                        items:
                          type: object
                          properties:
                            stepId: { type: string }
                            orderIndex: { type: integer }
                            providerType: { type: string, nullable: true }
                            modelId: { type: string, nullable: true }
                            policyViolations:
                              type: array
                              items: { type: object, additionalProperties: true }
                            executable: { type: boolean }
                            parallelGroupId: { type: string, nullable: true }
                            parallelBranchRole: { type: string, nullable: true }
                      routingAttempts:
                        type: array
                        description: Present when includeRoutingAttempts is true; hypothetical outcome per enabled step (no LLM execution).
                        items:
                          type: object
                          properties:
                            stepId: { type: string }
                            orderIndex: { type: integer }
                            providerType: { type: string, nullable: true }
                            modelId: { type: string, nullable: true }
                            hypotheticalOutcome:
                              type: string
                              enum: [selected, blocked_by_policy, not_executable, not_selected]
                            parallelGroupId: { type: string, nullable: true }
                            parallelBranchRole: { type: string, nullable: true }
                      decisionMetadata:
                        type: object
                        nullable: true
                        additionalProperties: true
        "400":
          description: Validation error
        "401":
          description: Unauthorized
        "403":
          description: Forbidden — `policy_blocked` when every step blocked by policy
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: Route not found / no route (`error` `no_route`)
        "409":
          description: Route unpublished (`error` `route_unpublished`)
        "422":
          description: `no_key_available` or `resolve_incomplete`
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }

  /api/projects/{projectId}/routes/{routeId}/export:
    get:
      summary: Export route graph bundle (GitOps)
      operationId: exportRouteGraph
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
        - name: routeId
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Portable JSON bundle (`schemaVersion` 1.0.0); see docs/schemas/route-graph-bundle.schema.json
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    additionalProperties: true
        "401":
          description: Unauthorized
        "404":
          description: Route not found

  /api/projects/{projectId}/routes/{routeId}/explain-chain:
    get:
      summary: Explain route chain for agents (read-only)
      operationId: explainRouteChain
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
        - name: routeId
          in: path
          required: true
          schema: { type: string }
        - name: includePolicyRuleJson
          in: query
          required: false
          schema: { type: boolean, default: false }
          description: When true, include full policy ruleDefinition objects on each policy row
        - name: includeCatalogHints
          in: query
          required: false
          schema: { type: boolean, default: false }
          description: When true, include catalogCrowdHints (aggregated catalog observation counts per step model pair; read-only)
      responses:
        "200":
          description: Route + steps + contextual policy binding summary (`contract_version` on payload)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    additionalProperties: true
        "401":
          description: Unauthorized
        "404":
          description: Project or route not found
        "500":
          description: Internal error

  /api/projects/{projectId}/routes/import:
    post:
      summary: Import route graph bundle (GitOps)
      operationId: importRouteGraph
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [bundle]
              properties:
                bundle:
                  type: object
                  description: Portable route+steps bundle (`schemaVersion` 1.0.0); see docs/schemas/route-graph-bundle.schema.json
                  additionalProperties: true
                replaceRouteId:
                  type: string
                  description: When set, replace this route's metadata and ordered steps instead of creating a new route
                changeSummary: { type: string }
                updatedVia: { type: string }
      responses:
        "200":
          description: Existing route replaced; returns route and ordered steps
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    additionalProperties: true
        "201":
          description: New route created from bundle
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    additionalProperties: true
        "400":
          description: Invalid bundle or workload/stage rules
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "401":
          description: Unauthorized
        "404":
          description: Project or route not found, or environment not in project
        "409":
          description: Ingestion workload/stage slot already occupied (`ingestion_stage_route_already_exists`)
        "500":
          description: Internal error

  /api/projects/{projectId}/routes/{routeId}/publish:
    post:
      summary: Publish route version
      operationId: publishRoute
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
        - name: routeId
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Route published
        "400":
          description: Validation failed — missing executable provider/model on enabled steps
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string, example: publish_validation_failed }
                  message: { type: string }
                  errors:
                    type: array
                    items: { $ref: "#/components/schemas/RoutePublishFieldError" }
        "401":
          description: Unauthorized
        "404":
          description: Route not found

  /api/projects/{projectId}/routes/{routeId}/rollback:
    post:
      summary: Roll back route to prior version snapshot
      operationId: rollbackRoute
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
        - name: routeId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                toVersion: { type: integer, minimum: 1 }
      responses:
        "200":
          description: Route rolled back
        "401":
          description: Unauthorized
        "404":
          description: Route/version not found

  /api/projects/{projectId}/routes/{routeId}/history:
    get:
      summary: List route version history
      operationId: routeHistory
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
        - name: routeId
          in: path
          required: true
          schema: { type: string }
        - name: limit
          in: query
          required: false
          schema: { type: integer, minimum: 1, maximum: 200 }
      responses:
        "200":
          description: Route history
        "401":
          description: Unauthorized
        "404":
          description: Route not found

  /api/projects/{projectId}/routes/{routeId}/validate-binding:
    post:
      summary: Preflight route binding
      description: |
        Checks that the route exists and that `environmentId` / optional `workload` / `stage` align with route metadata
        (including SOPHIA ingestion dedicated vs shared convention). Does not evaluate policies or steps.
      operationId: validateRouteBinding
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
        - name: routeId
          in: path
          required: true
          schema: { type: string, description: Route UUID or resolvable id in project scope }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [environmentId]
              properties:
                environmentId: { type: string }
                workload: { type: string, nullable: true }
                stage: { type: string, nullable: true }
                task: { type: string, nullable: true, description: Reserved for future use }
      responses:
        "200":
          description: Validation result
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      ok: { type: boolean }
                      reasons:
                        type: array
                        items: { type: string }
        "400":
          description: Invalid JSON or missing environmentId
        "401":
          description: Unauthorized
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "500":
          description: Internal error
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }

  /api/projects/{projectId}/routing-capabilities:
    get:
      summary: List routing capability enums
      operationId: routingCapabilities
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Routing capabilities for route editors
        "401":
          description: Unauthorized
        "404":
          description: Project not found

  /api/projects/{projectId}/switch-criteria-enums:
    get:
      summary: List switch criteria enums
      operationId: switchCriteriaEnums
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Enum values for switch criteria builders
        "401":
          description: Unauthorized
        "404":
          description: Project not found

  /api/projects/{projectId}/providers/health:
    get:
      summary: Provider health with trust metadata
      operationId: getProvidersHealth
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Provider health summary
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      status: { type: string, enum: [ok, empty] }
                      reasonCode: { type: string, nullable: true }
                      reason: { type: string, nullable: true }
                      operatorMessage: { type: string, nullable: true }
                      projectBindingsCount: { type: integer }
                      workspaceIntegrationsCount: { type: integer }
                      providers:
                        type: array
                        items:
                          type: object
                          properties:
                            providerType: { type: string }
                            status: { type: string, enum: [ready, degraded, blocked] }
                            reasonCode: { type: string }
                            reason: { type: string }
                            lastCheckedAt: { type: integer, nullable: true }
                            hasProjectBinding: { type: boolean }
                            hasWorkspaceIntegration: { type: boolean }
                            usableForResolve: { type: boolean }
                            usableForSimulation: { type: boolean }
                            modelsAvailableCount: { type: integer }
        "401":
          description: Unauthorized
        "404":
          description: Not found

  /api/projects/{projectId}/route-coverage:
    get:
      summary: Route coverage matrix by stage/workload
      operationId: getRouteCoverage
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Route coverage summary

  /api/projects/{projectId}/readiness:
    get:
      summary: Project readiness advisory
      operationId: getProjectReadiness
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Readiness summary with issues/recommendations

  /api/projects/{projectId}/routes/{routeId}/recommend:
    post:
      summary: Recommend route improvements
      operationId: recommendRouteChanges
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
        - name: routeId
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Route recommendations and diff preview

  /api/policies/{id}/history:
    get:
      summary: Policy version history
      operationId: listPolicyHistory
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Policy history list

  /api/policies/{id}/publish:
    post:
      summary: Publish policy version
      operationId: publishPolicy
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Policy published

  /api/policies/{id}/rollback:
    post:
      summary: Roll back policy
      operationId: rollbackPolicy
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Policy rolled back

  /api/policies/{id}/diff:
    post:
      summary: Diff policy versions
      operationId: diffPolicy
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Field-level policy diff

components:
  securitySchemes:
    apiKey:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: Consumer API key (issued by Zuplo). Send as Authorization Bearer token. Do not log or expose the key.
    gatewayKey:
      type: http
      scheme: bearer
      bearerFormat: Gateway Key
      description: |
        Gateway Key (`rk_...`) for Dashboard API calls (resolve, routes/steps, policies, project model index, catalog, etc.).
        Send as `Authorization: Bearer <key>`. Server-side only. **Not** valid on Zuplo control-plane paths that expect a consumer key (`zpka_...`).
  schemas:
    ProjectModelBindingKind:
      type: string
      enum: [execution, registry]
      description: |
        execution — Keys catalog-backed binding (canonical providerType for resolve alignment when present in catalog).
        registry — host merge metadata; providerType/modelId are opaque strings; nested model may be null.
    ProjectModelIndexEntry:
      type: object
      description: One binding in the project model index.
      properties:
        id: { type: string }
        bindingKind: { $ref: "#/components/schemas/ProjectModelBindingKind" }
        providerType:
          type: string
          description: Canonical slug when bindingKind is execution; normalized lowercase slug when registry.
        modelId: { type: string }
        enabled: { type: boolean }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        model:
          type: object
          nullable: true
          additionalProperties: true
          description: Catalog row when model id exists in Keys catalog; null for registry or removed catalog rows
    ProjectModelBatchAddRequest:
      type: object
      required: [models]
      properties:
        models:
          type: array
          minItems: 1
          items:
            type: object
            required: [providerType, modelId]
            properties:
              providerType: { type: string }
              modelId: { type: string }
              bindingKind: { $ref: "#/components/schemas/ProjectModelBindingKind", default: execution }
    ProjectModelReplaceRequest:
      type: object
      required: [models]
      properties:
        models:
          type: array
          items:
            type: object
            required: [providerType, modelId]
            properties:
              providerType: { type: string }
              modelId: { type: string }
              bindingKind: { $ref: "#/components/schemas/ProjectModelBindingKind", default: execution }
              enabled: { type: boolean, default: true }
    ProjectModelsValidationError:
      type: object
      properties:
        error: { type: string, example: project_models_validation_failed }
        detail: { type: string }
        errors:
          type: array
          items:
            type: object
            properties:
              index: { type: integer }
              field: { type: string }
              code: { type: string }
              message: { type: string }
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: |
            Machine-readable code. Resolve examples: `unauthorized`, `no_route`, `route_unpublished`, `route_disabled`,
            `policy_blocked`, `no_key_available`, `resolve_incomplete`, `publish_validation_failed`,
            `route_step_provider_not_allowed` (route steps: disallowed `providerPreference` slug; body includes `allowed`).
        message: { type: string }
        userMessage: { type: string, description: Operator hint for some 422 errors }
        detail: { type: string }
        routeId: { type: string, description: Present when the error refers to a specific route }
        violations:
          type: array
          description: Policy violations when `error` is `policy_blocked`
          items:
            type: object
            additionalProperties: true
    RouteStepProviderNotAllowedError:
      type: object
      description: |
        Returned when `providerPreference` is a string but not an allowed route-step execution slug (distinct from generic `invalid_step_schema`).
        Prefer branching on **`error`**; use **`allowed`** for UX or automation. For providers not in **`allowed`**, use **`openrouter`** or **`portkey`** with a catalog **`modelId`** when the model is only available through an aggregator.
      required: [error, detail, allowed]
      properties:
        error:
          type: string
          enum: [route_step_provider_not_allowed]
        detail: { type: string }
        allowed:
          type: array
          items: { type: string }
    ResolveStepChainEntry:
      type: object
      properties:
        stepId: { type: string }
        orderIndex: { type: integer }
        providerType: { type: string, nullable: true }
        modelId: { type: string, nullable: true }
        enabled: { type: boolean }
        selected: { type: boolean }
        label: { type: string, nullable: true }
        timeoutMs: { type: integer, nullable: true }
        fallbackOn: { type: string, nullable: true }
        switchCriteria: { type: object, nullable: true, additionalProperties: true }
        retryPolicy: { type: object, nullable: true, additionalProperties: true }
        costPolicy: { type: object, nullable: true, additionalProperties: true }
        notes: { type: string, nullable: true }
        advanceOn:
          type: array
          items: { type: string }
          description: Echoed from switchCriteria.advanceOn when present
        retryOn:
          type: array
          items: { type: string }
          description: Echoed from retryPolicy.retryOn when present
        modelPool:
          type: object
          nullable: true
          additionalProperties: true
          description: Echoed from route_steps.model_pool when set (model pool v1)
        poolSelectionStrategy: { type: string, nullable: true }
        poolMemberIndex: { type: integer, nullable: true }
        poolMembers:
          type: array
          items:
            type: object
            properties:
              providerType: { type: string, nullable: true }
              modelId: { type: string, nullable: true }
        parallelGroupId: { type: string, nullable: true }
        parallelBranchRole: { type: string, nullable: true }
    RoutePublishFieldError:
      type: object
      properties:
        stepId: { type: string }
        orderIndex: { type: integer }
        field: { type: string }
        message: { type: string }
    RouteResolveMetadata:
      type: object
      description: Route fields returned on successful resolve (`contract_version` 2026-04-16+)
      properties:
        id: { type: string }
        environmentId: { type: string }
        workload: { type: string, nullable: true }
        stage: { type: string, nullable: true }
        enabled: { type: boolean, nullable: true }
        version: { type: integer, nullable: true }
        publishedVersion: { type: integer, nullable: true }
    RouteListEntry:
      allOf:
        - type: object
          properties:
            id: { type: string }
            projectId: { type: string }
            environmentId: { type: string }
            name: { type: string }
            description: { type: string, nullable: true }
            defaultModelId: { type: string, nullable: true }
            billingMode: { type: string, nullable: true }
            routeMode: { type: string, nullable: true }
            stage: { type: string, nullable: true }
            workload: { type: string, nullable: true }
            enabled: { type: boolean, nullable: true }
            version: { type: integer, nullable: true }
            publishedVersion: { type: integer, nullable: true }
            status: { type: string }
            createdAt: { type: integer }
            updatedAt: { type: integer }
        - type: object
          properties:
            isPublished: { type: boolean, description: True when `version === publishedVersion` }
    Project:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        createdAt: { type: string, format: date-time }
    KeyInfo:
      type: object
      description: Key metadata only (prefix or hash); raw key never in list
      properties:
        keyPrefix: { type: string }
        keyId: { type: string }
        createdAt: { type: string, format: date-time }

    RouteStep:
      type: object
      properties:
        id: { type: string }
        routeId: { type: string }
        orderIndex: { type: integer, minimum: 0 }
        providerPreference:
          type: string
          enum: [openai, anthropic, cohere, google, deepseek, groq, mistral, openrouter, portkey, together, vercel, voyage]
          description: |
            **Authoritative** allowed values for persisted route steps (Keys execution / resolve path).
            Inbound aliases for Google (`vertex`, etc.) normalize to `google` in storage; resolve responses use canonical `vertex` in `providerType`.
            This enum is **narrower** than `GET/POST .../projects/{projectId}/models`: the project model index may include **`registry`** bindings with arbitrary provider slugs that are valid for catalog merge metadata but **must not** be used here until Keys extends step execution for those providers.
            **Aggregator-only models:** when the catalog exposes a model only under **`openrouter`** or **`portkey`**, use that `providerPreference` with the matching **`modelId`**. **cohere**, **groq**, **mistral**, **deepseek**, and **together** are first-class when the catalog lists a variant for that integration.
        modelId: { type: string, nullable: true }
        label: { type: string, nullable: true }
        fallbackOn:
          type: string
          enum: [error, rate_limit, no_key, policy_block, any]
        switchCriteria:
          type: object
          nullable: true
          additionalProperties: true
        retryPolicy:
          type: object
          nullable: true
          additionalProperties: true
        costPolicy:
          type: object
          nullable: true
          additionalProperties: true
        notes: { type: string, nullable: true }
        enabled: { type: boolean }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    RouteStepCreate:
      type: object
      required: [orderIndex, providerPreference]
      properties:
        orderIndex: { type: integer, minimum: 0 }
        providerPreference:
          type: string
          enum: [openai, anthropic, cohere, google, deepseek, groq, mistral, openrouter, portkey, together, vercel, voyage]
          description: |
            **Authoritative** allowed values for persisted route steps (Keys execution / resolve path).
            Inbound aliases for Google (`vertex`, etc.) normalize to `google` in storage; resolve responses use canonical `vertex` in `providerType`.
            This enum is **narrower** than `GET/POST .../projects/{projectId}/models`: the project model index may include **`registry`** bindings with arbitrary provider slugs that are valid for catalog merge metadata but **must not** be used here until Keys extends step execution for those providers.
            **Aggregator-only models:** when the catalog exposes a model only under **`openrouter`** or **`portkey`**, use that `providerPreference` with the matching **`modelId`**. **cohere**, **groq**, **mistral**, **deepseek**, and **together** are first-class when the catalog lists a variant for that integration.
        modelId: { type: string, nullable: true }
        label: { type: string, nullable: true }
        fallbackOn:
          type: string
          enum: [error, rate_limit, no_key, policy_block, any]
        switchCriteria:
          type: object
          nullable: true
          additionalProperties: true
        retryPolicy:
          type: object
          nullable: true
          additionalProperties: true
        costPolicy:
          type: object
          nullable: true
          additionalProperties: true
        notes: { type: string, nullable: true }
        enabled: { type: boolean, default: true }

    RouteStepPatch:
      type: object
      properties:
        orderIndex: { type: integer, minimum: 0 }
        providerPreference:
          type: string
          enum: [openai, anthropic, cohere, google, deepseek, groq, mistral, openrouter, portkey, together, vercel, voyage]
          description: |
            **Authoritative** allowed values for persisted route steps (Keys execution / resolve path).
            Inbound aliases for Google (`vertex`, etc.) normalize to `google` in storage; resolve responses use canonical `vertex` in `providerType`.
            This enum is **narrower** than `GET/POST .../projects/{projectId}/models`: the project model index may include **`registry`** bindings with arbitrary provider slugs that are valid for catalog merge metadata but **must not** be used here until Keys extends step execution for those providers.
            **Aggregator-only models:** when the catalog exposes a model only under **`openrouter`** or **`portkey`**, use that `providerPreference` with the matching **`modelId`**. **cohere**, **groq**, **mistral**, **deepseek**, and **together** are first-class when the catalog lists a variant for that integration.
        modelId: { type: string, nullable: true }
        label: { type: string, nullable: true }
        fallbackOn:
          type: string
          enum: [error, rate_limit, no_key, policy_block, any]
        switchCriteria:
          type: object
          nullable: true
          additionalProperties: true
        retryPolicy:
          type: object
          nullable: true
          additionalProperties: true
        costPolicy:
          type: object
          nullable: true
          additionalProperties: true
        notes: { type: string, nullable: true }
        enabled: { type: boolean }
