# Restormel Keys Cloud API — OpenAPI 3.0
# Use this spec in the Zuplo Developer Portal (import or paste) so the portal shows API docs.
# Canonical runbook: docs/runbooks/zuplo-setup.md (§5, Launch readiness §6).

openapi: 3.0.3
info:
  title: Restormel Keys API
  version: 1.0.0
  description: |
    API for managing projects and API keys. Call through the Zuplo gateway with a consumer API key.
    Authentication is required for all endpoints (API key in Authorization header).

servers:
  - url: https://restormel-keys-gateway-main-bc13eba.zuplo.app
    description: Main (production)
  - url: https://restormel-keys-gateway-working-co-185f3e3.zuplo.app
    description: Working copy (resilience / fallback)
  - url: https://restormel.dev/keys/dashboard
    description: Dashboard API (Gateway Key)

security:
  - apiKey: []

paths:
  /api/health:
    get:
      summary: Health check
      operationId: getHealth
      tags: [System]
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: ok }
                  service: { type: string, example: keys-dashboard }

  /api/projects:
    get:
      summary: List projects
      operationId: listProjects
      tags: [Projects]
      responses:
        "200":
          description: List of projects
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Project" }
    post:
      summary: Create project
      operationId: createProject
      tags: [Projects]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string, description: Project display name }
      responses:
        "201":
          description: Project created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/Project" }

  /api/projects/{id}:
    get:
      summary: Get project
      operationId: getProject
      tags: [Projects]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Project details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/Project" }
        "404":
          description: Not found
    patch:
      summary: Update project
      operationId: updateProject
      tags: [Projects]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
        "404":
          description: Not found
    delete:
      summary: Delete project
      operationId: deleteProject
      tags: [Projects]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
        "404":
          description: Not found

  /api/projects/{id}/keys:
    get:
      summary: List API keys for project
      operationId: listProjectKeys
      tags: [Keys]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: List of key metadata (prefix/hash only; raw key never returned)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/KeyInfo" }
        "404":
          description: Not found
    post:
      summary: Create API key
      operationId: createApiKey
      tags: [Keys]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "201":
          description: Key created; raw key returned once in response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      rawKey: { type: string, description: "Shown only once; store securely" }
                      keyPrefix: { type: string }
        "404":
          description: Not found
    delete:
      summary: Revoke API key
      operationId: deleteApiKey
      tags: [Keys]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                keyId: { type: string, description: Key ID to revoke }
      responses:
        "200":
          description: Revoked
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
        "404":
          description: Not found

  # ---------------------------------------------------------------------------
  # Dashboard API (Gateway Key) — runtime operations (Resolve + policies + routes/steps)
  # Server: https://restormel.dev/keys/dashboard
  # ---------------------------------------------------------------------------

  /api/projects/{projectId}/resolve:
    post:
      summary: Resolve (routing decision)
      operationId: resolveRoute
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [environmentId]
              properties:
                environmentId: { type: string, description: Environment to resolve against (e.g. dev, prod) }
                routeId: { type: string, description: Route name to evaluate; if omitted uses first active route for the environment }
                stage: { type: string, description: Optional stage hint (for ingestion workloads) }
                workload: { type: string, description: Optional workload hint (e.g. ingestion) }
                task: { type: string, description: Optional task hint }
                attemptNumber: { type: integer, minimum: 0 }
                failureKind: { type: string, nullable: true }
                estimatedInputTokens: { type: number, nullable: true }
                estimatedInputChars: { type: number, nullable: true }
                complexity: { type: string, nullable: true }
                constraints:
                  type: object
                  properties:
                    maxCost: { type: number, nullable: true }
                    latency: { type: string, nullable: true }
                previousFailure:
                  type: object
                  properties:
                    selectedOrderIndex: { type: integer, nullable: true }
                    selectedStepId: { type: string, nullable: true }
      responses:
        "200":
          description: Resolved provider/model decision
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      routeId: { type: string, description: Matched route name }
                      providerType: { type: string, nullable: true }
                      modelId: { type: string, nullable: true }
                      explanation: { type: string }
                      selectedStepId: { type: string, nullable: true }
                      selectedOrderIndex: { type: integer, nullable: true }
                      switchReasonCode: { type: string, nullable: true }
                      estimatedCostUsd: { type: number, nullable: true }
                      matchedCriteria:
                        type: object
                        nullable: true
                        additionalProperties: true
                      fallbackCandidates:
                        type: array
                        items:
                          type: object
                          properties:
                            stepId: { type: string }
                            orderIndex: { type: integer }
                            providerType: { type: string, nullable: true }
                            modelId: { type: string, nullable: true }
                            enabled: { type: boolean }
        "401":
          description: Unauthorized
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "403":
          description: Forbidden
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: No route found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "500":
          description: Internal resolve error
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }

  /api/policies/evaluate:
    post:
      summary: Evaluate policies
      operationId: evaluatePolicies
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                projectId: { type: string }
                environmentId: { type: string }
                routeId: { type: string }
                modelId: { type: string }
                providerType: { type: string }
      responses:
        "200":
          description: Policy evaluation result
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      allowed: { type: boolean }
                      violations:
                        type: array
                        items:
                          type: object
                          properties:
                            policyId: { type: string }
                            policyName: { type: string }
                            type: { type: string }
                            message: { type: string }
        "400":
          description: Invalid request
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "401":
          description: Unauthorized
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "403":
          description: Forbidden
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }

  /api/projects/{projectId}/routes/{routeId}/steps:
    get:
      summary: List route steps
      operationId: listRouteSteps
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
        - name: routeId
          in: path
          required: true
          schema: { type: string, description: Route internal ID (UUID) }
      responses:
        "200":
          description: List of route steps (ordered by orderIndex)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/RouteStep" }
        "401":
          description: Unauthorized
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "403":
          description: Forbidden
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: Route not found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
    post:
      summary: Create route step
      operationId: createRouteStep
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
        - name: routeId
          in: path
          required: true
          schema: { type: string, description: Route internal ID (UUID) }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RouteStepCreate" }
      responses:
        "201":
          description: Route step created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/RouteStep" }
        "400":
          description: Validation error
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "403":
          description: Forbidden
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: Route not found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "409":
          description: Duplicate orderIndex
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }

  /api/projects/{projectId}/routes/{routeId}/steps/{stepId}:
    patch:
      summary: Update route step
      operationId: updateRouteStep
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
        - name: routeId
          in: path
          required: true
          schema: { type: string, description: Route internal ID (UUID) }
        - name: stepId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RouteStepPatch" }
      responses:
        "200":
          description: Route step updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/RouteStep" }
        "400":
          description: Validation error
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "403":
          description: Forbidden
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: Route not found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }

  /api/projects/{projectId}/routes/{routeId}/simulate:
    post:
      summary: Simulate route execution
      operationId: simulateRoute
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
        - name: routeId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [environmentId]
              properties:
                environmentId: { type: string }
                stage: { type: string, nullable: true }
                workload: { type: string, nullable: true }
                attemptNumber: { type: integer, minimum: 0 }
                failureKind: { type: string, nullable: true }
                estimatedInputTokens: { type: number, nullable: true }
                estimatedInputChars: { type: number, nullable: true }
                previousFailure:
                  type: object
                  properties:
                    selectedOrderIndex: { type: integer, nullable: true }
                    selectedStepId: { type: string, nullable: true }
      responses:
        "200":
          description: Simulation result
        "400":
          description: Validation error
        "401":
          description: Unauthorized
        "404":
          description: Route not found/no route

  /api/projects/{projectId}/routes/{routeId}/publish:
    post:
      summary: Publish route version
      operationId: publishRoute
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
        - name: routeId
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Route published
        "401":
          description: Unauthorized
        "404":
          description: Route not found

  /api/projects/{projectId}/routes/{routeId}/rollback:
    post:
      summary: Roll back route to prior version snapshot
      operationId: rollbackRoute
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
        - name: routeId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                toVersion: { type: integer, minimum: 1 }
      responses:
        "200":
          description: Route rolled back
        "401":
          description: Unauthorized
        "404":
          description: Route/version not found

  /api/projects/{projectId}/routes/{routeId}/history:
    get:
      summary: List route version history
      operationId: routeHistory
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
        - name: routeId
          in: path
          required: true
          schema: { type: string }
        - name: limit
          in: query
          required: false
          schema: { type: integer, minimum: 1, maximum: 200 }
      responses:
        "200":
          description: Route history
        "401":
          description: Unauthorized
        "404":
          description: Route not found

  /api/projects/{projectId}/routing-capabilities:
    get:
      summary: List routing capability enums
      operationId: routingCapabilities
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Routing capabilities for route editors
        "401":
          description: Unauthorized
        "404":
          description: Project not found

  /api/projects/{projectId}/switch-criteria-enums:
    get:
      summary: List switch criteria enums
      operationId: switchCriteriaEnums
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Enum values for switch criteria builders
        "401":
          description: Unauthorized
        "404":
          description: Project not found

  /api/projects/{projectId}/providers/health:
    get:
      summary: Provider integration health summary
      operationId: providerHealth
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Provider health list
        "401":
          description: Unauthorized
        "404":
          description: Project not found
        "409":
          description: Duplicate orderIndex
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
    delete:
      summary: Delete route step
      operationId: deleteRouteStep
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
        - name: routeId
          in: path
          required: true
          schema: { type: string, description: Route internal ID (UUID) }
        - name: stepId
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Step deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
        "403":
          description: Forbidden
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: Route not found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }

components:
  securitySchemes:
    apiKey:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: Consumer API key (issued by Zuplo). Send as Authorization Bearer token. Do not log or expose the key.
    gatewayKey:
      type: http
      scheme: bearer
      bearerFormat: Gateway Key
      description: Gateway Key (rk_...) for Dashboard API calls. Send as Authorization Bearer token. Keep server-side only.
  schemas:
    ErrorResponse:
      type: object
      properties:
        error: { type: string }
        message: { type: string }
        detail: { type: string }
    Project:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        createdAt: { type: string, format: date-time }
    KeyInfo:
      type: object
      description: Key metadata only (prefix or hash); raw key never in list
      properties:
        keyPrefix: { type: string }
        keyId: { type: string }
        createdAt: { type: string, format: date-time }

    RouteStep:
      type: object
      properties:
        id: { type: string }
        routeId: { type: string }
        orderIndex: { type: integer, minimum: 0 }
        providerPreference:
          type: string
          enum: [openai, anthropic, google, openrouter, vercel, portkey]
        modelId: { type: string, nullable: true }
        label: { type: string, nullable: true }
        fallbackOn:
          type: string
          enum: [error, rate_limit, no_key, policy_block, any]
        switchCriteria:
          type: object
          nullable: true
          additionalProperties: true
        retryPolicy:
          type: object
          nullable: true
          additionalProperties: true
        costPolicy:
          type: object
          nullable: true
          additionalProperties: true
        notes: { type: string, nullable: true }
        enabled: { type: boolean }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    RouteStepCreate:
      type: object
      required: [orderIndex, providerPreference]
      properties:
        orderIndex: { type: integer, minimum: 0 }
        providerPreference:
          type: string
          enum: [openai, anthropic, google, openrouter, vercel, portkey]
        modelId: { type: string, nullable: true }
        label: { type: string, nullable: true }
        fallbackOn:
          type: string
          enum: [error, rate_limit, no_key, policy_block, any]
        switchCriteria:
          type: object
          nullable: true
          additionalProperties: true
        retryPolicy:
          type: object
          nullable: true
          additionalProperties: true
        costPolicy:
          type: object
          nullable: true
          additionalProperties: true
        notes: { type: string, nullable: true }
        enabled: { type: boolean, default: true }

    RouteStepPatch:
      type: object
      properties:
        orderIndex: { type: integer, minimum: 0 }
        providerPreference:
          type: string
          enum: [openai, anthropic, google, openrouter, vercel, portkey]
        modelId: { type: string, nullable: true }
        label: { type: string, nullable: true }
        fallbackOn:
          type: string
          enum: [error, rate_limit, no_key, policy_block, any]
        switchCriteria:
          type: object
          nullable: true
          additionalProperties: true
        retryPolicy:
          type: object
          nullable: true
          additionalProperties: true
        costPolicy:
          type: object
          nullable: true
          additionalProperties: true
        notes: { type: string, nullable: true }
        enabled: { type: boolean }
