# Restormel Keys Cloud API — OpenAPI 3.0
# Use this spec in the Zuplo Developer Portal (import or paste) so the portal shows API docs.
# Canonical runbook: docs/runbooks/zuplo-setup.md (§5, Launch readiness §6).

openapi: 3.0.3
info:
  title: Restormel Keys API
  version: 1.2.1
  description: |
    API for managing projects and API keys. Call through the Zuplo gateway with a consumer API key.
    Authentication is required for all endpoints (API key in Authorization header).

    **Two HTTP surfaces:** (1) **Zuplo Gateway** — control-plane CRUD (projects, keys); use **consumer key** (`zpka_...`, `apiKey` scheme).
    (2) **Dashboard API** on the dashboard host — resolve, routes/steps, policies, catalog, **project model index (read)**; use **Gateway Key** (`rk_...`, `gatewayKey` scheme). See each operation’s `security` and `servers` — Dashboard-only paths are documented under the dashboard server URL.

    **Dashboard resolve contract:** `POST .../resolve` success payloads use `contractVersion` `2026-03-26` and return stable
    machine-readable `error` codes with aligned HTTP statuses (see that operation).

    **Gateway Key JSON base (dashboard host):** `https://restormel.dev/keys/dashboard` — machine clients should expect
    `application/json` for errors under `/api/...` (including unknown routes and many server failures).

    **Project model index (`GET /api/projects/{projectId}/models`):** **Read-only** today (Gateway Key). There is **no** `POST`/`PATCH`/`DELETE`
    on this path in the product API yet — configure the selectable index in the dashboard UI until machine mutations ship.
    Planned contract: `docs/requirements/project-model-index-gateway-api.md`.

    **Inventory (subset; see paths below):** `GET/POST /api/projects`, `GET/PATCH /api/projects/{id}`, `POST /api/projects/{id}/resolve`,
    `GET/POST /api/projects/{id}/routes`, `GET/PATCH/DELETE .../routes/{routeId}`, `GET/POST .../steps`, `PATCH/DELETE .../steps/{stepId}`,
    `POST .../publish`, `POST .../rollback`, `GET .../history`, `POST .../simulate`, `POST .../validate-binding`, `POST .../recommend`,
    `GET .../models` (read-only project index), `GET .../keys`, `GET .../readiness`, `GET .../route-coverage`, `GET .../routing-capabilities`, `GET .../switch-criteria-enums`,
    `GET .../providers/health`, `GET .../provider-bindings`, `GET/POST /api/policies`, policy lifecycle routes, `POST .../policies/evaluate`,
    `GET /api/models`, `GET /api/catalog`, `POST /api/catalog/observations`.

servers:
  - url: https://restormel-keys-gateway-main-bc13eba.zuplo.app
    description: Main (production)
  - url: https://restormel-keys-gateway-working-co-185f3e3.zuplo.app
    description: Working copy (resilience / fallback)
  - url: https://restormel.dev/keys/dashboard
    description: Dashboard API (Gateway Key)

security:
  - apiKey: []

paths:
  /api/health:
    get:
      summary: Health check
      operationId: getHealth
      tags: [System]
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: ok }
                  service: { type: string, example: keys-dashboard }

  /api/projects:
    get:
      summary: List projects
      operationId: listProjects
      tags: [Projects]
      responses:
        "200":
          description: List of projects
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Project" }
    post:
      summary: Create project
      operationId: createProject
      tags: [Projects]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string, description: Project display name }
      responses:
        "201":
          description: Project created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/Project" }

  /api/projects/{id}:
    get:
      summary: Get project
      operationId: getProject
      tags: [Projects]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Project details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/Project" }
        "404":
          description: Not found
    patch:
      summary: Update project
      operationId: updateProject
      tags: [Projects]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
        "404":
          description: Not found
    delete:
      summary: Delete project
      operationId: deleteProject
      tags: [Projects]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
        "404":
          description: Not found

  /api/projects/{id}/keys:
    get:
      summary: List API keys for project
      operationId: listProjectKeys
      tags: [Keys]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: List of key metadata (prefix/hash only; raw key never returned)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/KeyInfo" }
        "404":
          description: Not found
    post:
      summary: Create API key
      operationId: createApiKey
      tags: [Keys]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "201":
          description: Key created; raw key returned once in response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      rawKey: { type: string, description: "Shown only once; store securely" }
                      keyPrefix: { type: string }
        "404":
          description: Not found
    delete:
      summary: Revoke API key
      operationId: deleteApiKey
      tags: [Keys]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                keyId: { type: string, description: Key ID to revoke }
      responses:
        "200":
          description: Revoked
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
        "404":
          description: Not found

  # ---------------------------------------------------------------------------
  # Dashboard API (Gateway Key) — runtime operations (Resolve + policies + routes/steps)
  # Server: https://restormel.dev/keys/dashboard
  # ---------------------------------------------------------------------------

  /api/projects/{projectId}/routes:
    get:
      summary: List routes (host discovery)
      description: |
        Returns routes for the project. When `environmentId` is set, results are scoped to that environment.
        Optional `workload` and `stage` narrow the list. Each item includes `isPublished` (`version === publishedVersion`)
        so hosts can skip unpublished routes before calling resolve.
      operationId: listProjectRoutes
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
        - name: environmentId
          in: query
          required: false
          schema: { type: string }
        - name: workload
          in: query
          required: false
          schema: { type: string }
        - name: stage
          in: query
          required: false
          schema: { type: string }
      responses:
        "200":
          description: Route list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/RouteListEntry" }
        "401":
          description: Unauthorized
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: Project not found or not accessible
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "500":
          description: Internal error
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }

  /api/projects/{projectId}/resolve:
    post:
      summary: Resolve (routing decision)
      description: |
        Selects a **published** route (`version === publishedVersion`), active, and enabled, then the first enabled step that passes policy.

        **Precedence:** If `routeId` is set (route UUID or route **name**), only that route is considered; there is no fallback to other routes.
        If `routeId` is omitted, selection uses `environmentId` plus optional `workload` / `stage`:
        with both `workload` and `stage`, a dedicated route matching both is preferred, then a **shared** route with the same `workload` and null/empty `stage`.
        With `workload` only (no `stage`), only shared routes (null `stage`) match.

        **Stable error codes** (JSON `error` field; hosts should branch on these, not only HTTP status):
        | HTTP | `error` | Meaning |
        |------|---------|---------|
        | 401 | `unauthorized` | Missing/invalid auth or project not in scope |
        | 403 | `policy_blocked` | Route matched but every enabled step was blocked by policy (`violations` present) |
        | 403 | `route_disabled` | Explicit `routeId` refers to a disabled or non-active route |
        | 404 | `no_route` | No matching route, wrong environment for `routeId`, or discovery found nothing |
        | 409 | `route_unpublished` | Explicit `routeId` exists but draft (`version` ≠ `publishedVersion`) |
        | 422 | `no_key_available` | Route matched but there is no enabled step to select (configure steps) |
        | 422 | `resolve_incomplete` | A step passed policy but is missing executable `providerType` + `modelId` |
      operationId: resolveRoute
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [environmentId]
              properties:
                environmentId: { type: string, description: Environment to resolve against (e.g. dev, prod) }
                routeId:
                  type: string
                  description: Optional. Route UUID or route name; when set, wins over discovery and does not fall back
                stage: { type: string, description: Optional stage hint (e.g. ingestion_extraction for SOPHIA ingestion) }
                workload: { type: string, description: Optional workload hint (e.g. ingestion) }
                task: { type: string, description: Optional task hint (reserved; passed through for future criteria) }
                attemptNumber: { type: integer, minimum: 0 }
                failureKind: { type: string, nullable: true }
                estimatedInputTokens: { type: number, nullable: true }
                estimatedInputChars: { type: number, nullable: true }
                complexity: { type: string, nullable: true }
                constraints:
                  type: object
                  properties:
                    maxCost: { type: number, nullable: true }
                    latency: { type: string, nullable: true }
                previousFailure:
                  type: object
                  properties:
                    selectedOrderIndex: { type: integer, nullable: true }
                    selectedStepId: { type: string, nullable: true }
      responses:
        "200":
          description: Resolved provider/model decision
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      contractVersion: { type: string, example: "2026-03-26" }
                      traceId: { type: string, nullable: true }
                      routeId: { type: string, description: Matched route ID }
                      routeName: { type: string, description: Matched route name }
                      route: { $ref: "#/components/schemas/RouteResolveMetadata" }
                      providerType: { type: string, description: Canonical API slug; e.g. vertex for Google }
                      modelId: { type: string, description: Non-null on HTTP 200 success }
                      explanation: { type: string }
                      selectedStepId: { type: string, nullable: true }
                      selectedOrderIndex: { type: integer, nullable: true }
                      switchReasonCode: { type: string, nullable: true }
                      estimatedCostUsd: { type: number, nullable: true }
                      matchedCriteria:
                        type: object
                        nullable: true
                        additionalProperties: true
                      fallbackCandidates:
                        type: array
                        items:
                          type: object
                          properties:
                            stepId: { type: string }
                            orderIndex: { type: integer }
                            providerType: { type: string, nullable: true }
                            modelId: { type: string, nullable: true }
                            enabled: { type: boolean }
                      decisionMetadata:
                        type: object
                        nullable: true
                        additionalProperties: true
                      stepChain:
                        type: array
                        description: All enabled steps in order; exactly one row has selected true on success
                        items: { $ref: "#/components/schemas/ResolveStepChainEntry" }
        "401":
          description: Unauthorized (`error` typically `unauthorized`)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "403":
          description: Forbidden — `policy_blocked` (violations) or `route_disabled`
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: No route (`error` `no_route`)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "409":
          description: Route exists but unpublished (`error` `route_unpublished`)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "422":
          description: No enabled step (`no_key_available`) or incomplete executable step (`resolve_incomplete`)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "500":
          description: Internal resolve error
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }

  /api/models:
    get:
      summary: List models (catalog slice)
      operationId: listModelsPublic
      tags: [Dashboard API]
      description: Public read; optional filters `lifecycleState`, `family`, `limit`, `offset`.
      parameters:
        - name: lifecycleState
          in: query
          schema: { type: string }
        - name: family
          in: query
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 500 }
        - name: offset
          in: query
          schema: { type: integer, minimum: 0 }
      responses:
        "200":
          description: Model rows
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { type: object, additionalProperties: true }

  /api/catalog:
    get:
      summary: Canonical provider + model catalog
      operationId: getCanonicalCatalog
      tags: [Dashboard API]
      description: Versioned feed (`contractVersion`); see docs/guides/canonical-catalog and catalog-governance.
      parameters:
        - name: lifecycleState
          in: query
          schema: { type: string }
        - name: family
          in: query
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer }
        - name: offset
          in: query
          schema: { type: integer }
        - name: includeUnhealthy
          in: query
          schema: { type: string, enum: ["1"] }
        - name: skipDefaultAllowlist
          in: query
          schema: { type: string, enum: ["1"] }
      responses:
        "200":
          description: Catalog payload
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true

  /api/catalog/observations:
    post:
      summary: Report catalog model observation (crowd signal)
      operationId: postCatalogObservation
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Ack
        "401":
          description: Unauthorized

  /api/projects/{projectId}/models:
    get:
      summary: List project model index (read-only)
      description: |
        Returns the **project-scoped model catalog** used for selectors and host-side merges (integrators often merge this with their own static catalog).

        **Auth:** Gateway Key (`rk_...`) only — **not** the Zuplo consumer key. Call the **Dashboard API** base URL (see `servers`).

        **Writes:** There is **no** HTTP mutation for this index in the API today. Adding or removing models for the project picker is done in the **dashboard UI**
        (or future API per `docs/requirements/project-model-index-gateway-api.md`). This operation is **GET only** until that work ships.

        **Provider types:** Align `providerType` / model ids with the resolve contract and route steps — canonical values and `google` vs `vertex` are documented in
        `docs/guides/resolve-to-execution-contract.md`.
      operationId: listProjectModels
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
        - name: lifecycleState
          in: query
          schema: { type: string }
        - name: family
          in: query
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer }
        - name: offset
          in: query
          schema: { type: integer }
      responses:
        "200":
          description: Models for selectors
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { type: object, additionalProperties: true }
        "401":
          description: Unauthorized
        "404":
          description: Project not found

  /api/policies:
    get:
      summary: List policies
      operationId: listPolicies
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      responses:
        "200":
          description: Policies visible in current auth scope
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
        "401":
          description: Unauthorized

  /api/policies/{id}:
    get:
      summary: Get policy
      operationId: getPolicy
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Policy in current auth scope
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    additionalProperties: true
        "401":
          description: Unauthorized
        "404":
          description: Not found

  /api/policies/evaluate:
    post:
      summary: Evaluate policies
      operationId: evaluatePolicies
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                projectId: { type: string }
                environmentId: { type: string }
                routeId: { type: string }
                modelId: { type: string }
                providerType: { type: string }
      responses:
        "200":
          description: Policy evaluation result
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      allowed: { type: boolean }
                      violations:
                        type: array
                        items:
                          type: object
                          properties:
                            policyId: { type: string }
                            policyName: { type: string }
                            type: { type: string }
                            message: { type: string }
        "400":
          description: Invalid request
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "401":
          description: Unauthorized
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "403":
          description: Forbidden
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }

  /api/projects/{projectId}/routes/{routeId}/steps:
    get:
      summary: List route steps
      operationId: listRouteSteps
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
        - name: routeId
          in: path
          required: true
          schema: { type: string, description: Route internal ID (UUID) }
      responses:
        "200":
          description: List of route steps (ordered by orderIndex)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/RouteStep" }
        "401":
          description: Unauthorized
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "403":
          description: Forbidden
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: Route not found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
    post:
      summary: Create route step
      operationId: createRouteStep
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
        - name: routeId
          in: path
          required: true
          schema: { type: string, description: Route internal ID (UUID) }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RouteStepCreate" }
      responses:
        "201":
          description: Route step created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/RouteStep" }
        "400":
          description: Validation error
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "403":
          description: Forbidden
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: Route not found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "409":
          description: Duplicate orderIndex
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }

  /api/projects/{projectId}/routes/{routeId}/steps/{stepId}:
    patch:
      summary: Update route step
      operationId: updateRouteStep
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
        - name: routeId
          in: path
          required: true
          schema: { type: string, description: Route internal ID (UUID) }
        - name: stepId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RouteStepPatch" }
      responses:
        "200":
          description: Route step updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/RouteStep" }
        "400":
          description: Validation error
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "403":
          description: Forbidden
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: Route not found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }

  /api/projects/{projectId}/routes/{routeId}/simulate:
    post:
      summary: Simulate route execution
      operationId: simulateRoute
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
        - name: routeId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [environmentId]
              properties:
                environmentId: { type: string }
                stage: { type: string, nullable: true }
                workload: { type: string, nullable: true }
                attemptNumber: { type: integer, minimum: 0 }
                failureKind: { type: string, nullable: true }
                estimatedInputTokens: { type: number, nullable: true }
                estimatedInputChars: { type: number, nullable: true }
                previousFailure:
                  type: object
                  properties:
                    selectedOrderIndex: { type: integer, nullable: true }
                    selectedStepId: { type: string, nullable: true }
      responses:
        "200":
          description: Simulation result
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      contractVersion: { type: string, example: "2026-03-26" }
                      traceId: { type: string, nullable: true }
                      routeId: { type: string }
                      routeName: { type: string }
                      providerType: { type: string, description: Canonical API slug; e.g. vertex for Google }
                      modelId: { type: string, description: Non-null when simulation would run }
                      switchReasonCode: { type: string, nullable: true }
                      matchedCriteria:
                        type: object
                        nullable: true
                        additionalProperties: true
                      fallbackCandidates:
                        type: array
                        items:
                          type: object
                          additionalProperties: true
                      stepChain:
                        type: array
                        items: { $ref: "#/components/schemas/ResolveStepChainEntry" }
                      selectedStepId: { type: string, nullable: true }
                      estimatedCostUsd: { type: number, nullable: true }
                      perStepEstimates:
                        type: array
                        items:
                          type: object
                          additionalProperties: true
                      wouldRun: { type: boolean }
                      switchOutcomePreview:
                        type: object
                        additionalProperties: true
                      decisionMetadata:
                        type: object
                        nullable: true
                        additionalProperties: true
        "400":
          description: Validation error
        "401":
          description: Unauthorized
        "403":
          description: Forbidden — `policy_blocked` when every step blocked by policy
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: Route not found / no route (`error` `no_route`)
        "409":
          description: Route unpublished (`error` `route_unpublished`)
        "422":
          description: `no_key_available` or `resolve_incomplete`
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }

  /api/projects/{projectId}/routes/{routeId}/publish:
    post:
      summary: Publish route version
      operationId: publishRoute
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
        - name: routeId
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Route published
        "400":
          description: Validation failed — missing executable provider/model on enabled steps
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string, example: publish_validation_failed }
                  message: { type: string }
                  errors:
                    type: array
                    items: { $ref: "#/components/schemas/RoutePublishFieldError" }
        "401":
          description: Unauthorized
        "404":
          description: Route not found

  /api/projects/{projectId}/routes/{routeId}/rollback:
    post:
      summary: Roll back route to prior version snapshot
      operationId: rollbackRoute
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
        - name: routeId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                toVersion: { type: integer, minimum: 1 }
      responses:
        "200":
          description: Route rolled back
        "401":
          description: Unauthorized
        "404":
          description: Route/version not found

  /api/projects/{projectId}/routes/{routeId}/history:
    get:
      summary: List route version history
      operationId: routeHistory
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
        - name: routeId
          in: path
          required: true
          schema: { type: string }
        - name: limit
          in: query
          required: false
          schema: { type: integer, minimum: 1, maximum: 200 }
      responses:
        "200":
          description: Route history
        "401":
          description: Unauthorized
        "404":
          description: Route not found

  /api/projects/{projectId}/routes/{routeId}/validate-binding:
    post:
      summary: Preflight route binding
      description: |
        Checks that the route exists and that `environmentId` / optional `workload` / `stage` align with route metadata
        (including SOPHIA ingestion dedicated vs shared convention). Does not evaluate policies or steps.
      operationId: validateRouteBinding
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
        - name: routeId
          in: path
          required: true
          schema: { type: string, description: Route UUID or resolvable id in project scope }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [environmentId]
              properties:
                environmentId: { type: string }
                workload: { type: string, nullable: true }
                stage: { type: string, nullable: true }
                task: { type: string, nullable: true, description: Reserved for future use }
      responses:
        "200":
          description: Validation result
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      ok: { type: boolean }
                      reasons:
                        type: array
                        items: { type: string }
        "400":
          description: Invalid JSON or missing environmentId
        "401":
          description: Unauthorized
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "500":
          description: Internal error
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }

  /api/projects/{projectId}/routing-capabilities:
    get:
      summary: List routing capability enums
      operationId: routingCapabilities
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Routing capabilities for route editors
        "401":
          description: Unauthorized
        "404":
          description: Project not found

  /api/projects/{projectId}/switch-criteria-enums:
    get:
      summary: List switch criteria enums
      operationId: switchCriteriaEnums
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Enum values for switch criteria builders
        "401":
          description: Unauthorized
        "404":
          description: Project not found

  /api/projects/{projectId}/providers/health:
    get:
      summary: Provider health with trust metadata
      operationId: getProvidersHealth
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Provider health summary
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      status: { type: string, enum: [ok, empty] }
                      reasonCode: { type: string, nullable: true }
                      reason: { type: string, nullable: true }
                      operatorMessage: { type: string, nullable: true }
                      projectBindingsCount: { type: integer }
                      workspaceIntegrationsCount: { type: integer }
                      providers:
                        type: array
                        items:
                          type: object
                          properties:
                            providerType: { type: string }
                            status: { type: string, enum: [ready, degraded, blocked] }
                            reasonCode: { type: string }
                            reason: { type: string }
                            lastCheckedAt: { type: integer, nullable: true }
                            hasProjectBinding: { type: boolean }
                            hasWorkspaceIntegration: { type: boolean }
                            usableForResolve: { type: boolean }
                            usableForSimulation: { type: boolean }
                            modelsAvailableCount: { type: integer }
        "401":
          description: Unauthorized
        "404":
          description: Not found

  /api/projects/{projectId}/route-coverage:
    get:
      summary: Route coverage matrix by stage/workload
      operationId: getRouteCoverage
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Route coverage summary

  /api/projects/{projectId}/readiness:
    get:
      summary: Project readiness advisory
      operationId: getProjectReadiness
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Readiness summary with issues/recommendations

  /api/projects/{projectId}/routes/{routeId}/recommend:
    post:
      summary: Recommend route improvements
      operationId: recommendRouteChanges
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string }
        - name: routeId
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Route recommendations and diff preview

  /api/policies/{id}/history:
    get:
      summary: Policy version history
      operationId: listPolicyHistory
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Policy history list

  /api/policies/{id}/publish:
    post:
      summary: Publish policy version
      operationId: publishPolicy
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Policy published

  /api/policies/{id}/rollback:
    post:
      summary: Roll back policy
      operationId: rollbackPolicy
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Policy rolled back

  /api/policies/{id}/diff:
    post:
      summary: Diff policy versions
      operationId: diffPolicy
      tags: [Dashboard API]
      security:
        - gatewayKey: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Field-level policy diff

components:
  securitySchemes:
    apiKey:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: Consumer API key (issued by Zuplo). Send as Authorization Bearer token. Do not log or expose the key.
    gatewayKey:
      type: http
      scheme: bearer
      bearerFormat: Gateway Key
      description: |
        Gateway Key (`rk_...`) for Dashboard API calls (resolve, routes/steps, policies, **GET** project models index, catalog, etc.).
        Send as `Authorization: Bearer <key>`. Server-side only. **Not** valid on Zuplo control-plane paths that expect a consumer key (`zpka_...`).
  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: |
            Machine-readable code. Resolve examples: `unauthorized`, `no_route`, `route_unpublished`, `route_disabled`,
            `policy_blocked`, `no_key_available`, `resolve_incomplete`, `publish_validation_failed`.
        message: { type: string }
        userMessage: { type: string, description: Operator hint for some 422 errors }
        detail: { type: string }
        routeId: { type: string, description: Present when the error refers to a specific route }
        violations:
          type: array
          description: Policy violations when `error` is `policy_blocked`
          items:
            type: object
            additionalProperties: true
    ResolveStepChainEntry:
      type: object
      properties:
        stepId: { type: string }
        orderIndex: { type: integer }
        providerType: { type: string, nullable: true }
        modelId: { type: string, nullable: true }
        enabled: { type: boolean }
        selected: { type: boolean }
    RoutePublishFieldError:
      type: object
      properties:
        stepId: { type: string }
        orderIndex: { type: integer }
        field: { type: string }
        message: { type: string }
    RouteResolveMetadata:
      type: object
      description: Route fields returned on successful resolve (`contractVersion` 2026-03-26+)
      properties:
        id: { type: string }
        environmentId: { type: string }
        workload: { type: string, nullable: true }
        stage: { type: string, nullable: true }
        enabled: { type: boolean, nullable: true }
        version: { type: integer, nullable: true }
        publishedVersion: { type: integer, nullable: true }
    RouteListEntry:
      allOf:
        - type: object
          properties:
            id: { type: string }
            projectId: { type: string }
            environmentId: { type: string }
            name: { type: string }
            description: { type: string, nullable: true }
            defaultModelId: { type: string, nullable: true }
            billingMode: { type: string, nullable: true }
            routeMode: { type: string, nullable: true }
            stage: { type: string, nullable: true }
            workload: { type: string, nullable: true }
            enabled: { type: boolean, nullable: true }
            version: { type: integer, nullable: true }
            publishedVersion: { type: integer, nullable: true }
            status: { type: string }
            createdAt: { type: integer }
            updatedAt: { type: integer }
        - type: object
          properties:
            isPublished: { type: boolean, description: True when `version === publishedVersion` }
    Project:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        createdAt: { type: string, format: date-time }
    KeyInfo:
      type: object
      description: Key metadata only (prefix or hash); raw key never in list
      properties:
        keyPrefix: { type: string }
        keyId: { type: string }
        createdAt: { type: string, format: date-time }

    RouteStep:
      type: object
      properties:
        id: { type: string }
        routeId: { type: string }
        orderIndex: { type: integer, minimum: 0 }
        providerPreference:
          type: string
          enum: [openai, anthropic, google, openrouter, vercel, portkey, voyage]
        modelId: { type: string, nullable: true }
        label: { type: string, nullable: true }
        fallbackOn:
          type: string
          enum: [error, rate_limit, no_key, policy_block, any]
        switchCriteria:
          type: object
          nullable: true
          additionalProperties: true
        retryPolicy:
          type: object
          nullable: true
          additionalProperties: true
        costPolicy:
          type: object
          nullable: true
          additionalProperties: true
        notes: { type: string, nullable: true }
        enabled: { type: boolean }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    RouteStepCreate:
      type: object
      required: [orderIndex, providerPreference]
      properties:
        orderIndex: { type: integer, minimum: 0 }
        providerPreference:
          type: string
          enum: [openai, anthropic, google, openrouter, vercel, portkey, voyage]
        modelId: { type: string, nullable: true }
        label: { type: string, nullable: true }
        fallbackOn:
          type: string
          enum: [error, rate_limit, no_key, policy_block, any]
        switchCriteria:
          type: object
          nullable: true
          additionalProperties: true
        retryPolicy:
          type: object
          nullable: true
          additionalProperties: true
        costPolicy:
          type: object
          nullable: true
          additionalProperties: true
        notes: { type: string, nullable: true }
        enabled: { type: boolean, default: true }

    RouteStepPatch:
      type: object
      properties:
        orderIndex: { type: integer, minimum: 0 }
        providerPreference:
          type: string
          enum: [openai, anthropic, google, openrouter, vercel, portkey, voyage]
        modelId: { type: string, nullable: true }
        label: { type: string, nullable: true }
        fallbackOn:
          type: string
          enum: [error, rate_limit, no_key, policy_block, any]
        switchCriteria:
          type: object
          nullable: true
          additionalProperties: true
        retryPolicy:
          type: object
          nullable: true
          additionalProperties: true
        costPolicy:
          type: object
          nullable: true
          additionalProperties: true
        notes: { type: string, nullable: true }
        enabled: { type: boolean }
